@using AP.ChevronCoop.AppDomain.Security.Auth.ApplicationUserRoles;
@using AP.ChevronCoop.Entities.Security.Auth.ApplicationRoles;

@if (Model is not null)
{
    <EditForm Model="Model">
        <FluentValidationValidator/>
        <ValidationSummary/>
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">


            <div class="sm:col-span-2">
                <label for="Owner" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Select Roles
                </label>


                <SfMultiSelect TValue="string[]" @bind-Value=Model.RoleId TItem="ApplicationRoleMasterView" Placeholder="Select roles" PopupHeight="350px" PopupWidth="350px" DataSource="@RolePermissions"
                               FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" OnBlur="OnBlur" ShowSelectAll=true
                               EnableGroupCheckBox=true Mode="@VisualMode.CheckBox" ShowClearButton="true"
                               AllowFiltering=true IgnoreAccent=true>
                    <MultiSelectFieldSettings Text="Name" Value="Id"></MultiSelectFieldSettings>
                </SfMultiSelect>

            </div>
        </div>
        <br/>

        <button type="button" @onclick="OnSave"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Save
        </button>

        <button type="button" @onclick="OnCancel"
                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Cancel
        </button>
    </EditForm>
    <Modal Title="@("Notification")" Visible="@showPopup" DestroyOnClose="true"
           OnOk="OnCancel" OkText="@("Ok")"
           OnCancel="OnCancel" CancelText="@("Cancel")">
        <p>@notificationText</p>
    </Modal>
}