@using AP.ChevronCoop.Entities.Deposits.FixedDeposits.FixedDepositAccounts;
@using AP.ChevronCoop.Entities.Deposits.FixedDeposits.FixedDepositApplications;
@using AP.ChevronCoop.Entities.Deposits.Savings.SavingsAccountApplications;
@using System.Globalization;

<div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
    
    @if(ViewMode == "fixed_application")
    {
        <h3 class="mb-4 text-xl font-bold dark:text-white">
            @ApprovalType.Replace("_", " ")
        </h3>

        @foreach (var item in _FixedDepositAccountApplicationMasterView)
        {
            <form action="">
                <div class="grid grid-cols-6 gap-6">

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Product Name
                            </h2>
                            <p>@item.DepositProductId_Name</p>
                        </div>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Description
                            </h2>
                            <p>@item.Description</p>
                        </div>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Application Number
                            </h2>
                            <p>@item.ApplicationNo</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Type of Account
                            </h2>
                            <p>@item.Tags</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Customer Type
                            </h2>
                            <p>@item.CustomerId_MemberType</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Customer Name
                            </h2>
                            <p>@item.CustomerId_FirstName @item.CustomerId_LastName</p>
                        </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Customer Phone Number
                            </h2>
                            <p>@item.CustomerId_PrimaryPhone</p>
                        </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Product Tenure
                            </h2>
                            <p>@item.DepositProductId_Tenure</p>
                        </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Product Tenure Value
                            </h2>
                            <p>@item.DepositProductId_TenureValue</p>
                        </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Liquidation Account Type
                            </h2>
                            <p>@item.LiquidationAccountType</p>
                        </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Mode of Payment
                            </h2>
                            <p>@item.ModeOfPayment</p>
                        </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Mode of Payment
                            </h2>
                            <p>@item.ModeOfPayment</p>
                        </div>
                    </div>


                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Deposit Amount
                            </h2>
                            <p>@item.Amount.ToString("N2", new CultureInfo("en-US"))</p>
                        </div>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Date Created
                            </h2>
                            <p>@item.DateCreated.GetValueOrDefault().ToString("M/d/yyyy")</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Document for
                            </h2>
                            <p>@item.PaymentDocumentId_DocumentType</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Approval Type
                            </h2>
                            <p>@item.ApprovalId_ApprovalType.Replace("_", " ")</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Current Status
                            </h2>
                            <p>@item.ApprovalId_Status</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Approval Current Sequence
                            </h2>
                            <p>@item.ApprovalId_CurrentSequence</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Approval Comments
                            </h2>
                            <p>@item.ApprovalId_Comment</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Payment Upload
                            </h2>
                            <p>
                                <img src="@item.PaymentDocumentId_DocumentData">
                            </p>
                        </div>

                    </div>



                </div>
            </form>
        }
    }
    else if(ViewMode == "fixed_actions")
    {
        @foreach (var item in _FixedDepositAccountMasterView)
        {
            <form action="">
                <div class="grid grid-cols-6 gap-6">

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Product Name
                            </h2>
                            <p>@item.DepositProductId_Name</p>
                        </div>

                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Description
                            </h2>
                            <p>@item.Description</p>
                        </div>

                    </div>
                   

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Type of Account
                            </h2>
                            <p>@item.Tags</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Customer Type
                            </h2>
                            <p>@item.CustomerId_MemberType</p>
                        </div>

                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Customer Name
                            </h2>
                            <p>@item.CustomerId_FirstName @item.CustomerId_LastName</p>
                        </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Customer Phone Number
                            </h2>
                            <p>@item.CustomerId_PrimaryPhone</p>
                        </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Product Tenure
                            </h2>
                            <p>@item.DepositProductId_Tenure</p>
                        </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Product Tenure Value
                            </h2>
                            <p>@item.DepositProductId_TenureValue</p>
                        </div>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Liquidation Account Type
                            </h2>
                            <p>@item.LiquidationAccountType</p>
                        </div>
                    </div>

                
                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Date Created
                            </h2>
                            <p>@item.DateCreated.GetValueOrDefault().ToString("MMMM d yyyyy HH:MM:s")</p>
                        </div>

                    </div>

                  
                  

                    <div class="col-span-6 sm:col-span-3">
                        <div class="flex items-center  gap-8">
                            <h2 class=" text-sm font-medium text-black dark:text-white w-1/2">
                                Customer Status
                            </h2>
                            <p>@item.CustomerId_Status</p>
                        </div>

                    </div>

                  

                </div>
            </form>
        }
    }

</div>


@code {

    [Parameter] public string ViewMode { get; set; } = "fixed_application";

    [Parameter] public string ApprovalType { get; set; } = "";

    [Parameter]
    public List<FixedDepositAccountApplicationMasterView> _FixedDepositAccountApplicationMasterView { get; set; } = new List<FixedDepositAccountApplicationMasterView>();

    [Parameter]
    public List<FixedDepositAccountMasterView> _FixedDepositAccountMasterView { get; set; } = new List<FixedDepositAccountMasterView>();


}
