@page "/audittrail/list"
@using AP.ChevronCoop.Entities.Security.AuditTrails;
@using Syncfusion.Blazor.Grids
@layout AppUIMainLayout
@attribute [Authorize]

<div class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5 pt-10">
    <div class="mb-4">
        <nav class="flex mb-5" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2">
                <li class="inline-flex items-center">
                    <a href="/audittrail/list"
                       class="inline-flex items-center text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">
                        <svg class="w-5 h-5 mr-2.5 text-gray-500 transition duration-75 group-hover:text-sidebar-icons-active active:text-sidebar-icons-active group"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                        </svg>
                        AuditTrail
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                  clip-rule="evenodd">
                            </path>
                        </svg>
                        List
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                  clip-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                </li>
            </ol>
        </nav>
    </div>


    <!-- Start coding here -->
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">

        <span class="error p-2">@ErrorDetails</span>

        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">

            <div class="w-full md:w-1/2">
                <label for="mobile-search" class="sr-only">Search</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        @((MarkupString)SvgHelpers.SearchIcon)

                    </div>

                    <input type="text" name="email" id="mobile-search" autocomplete="off" @bind-value="@searchText" @bind-value:event="oninput" @onkeyup="OnSearchEnter"
                           class="@Tailwind.SearchText"
                           placeholder="Search...">
                    <button @onclick="OnSearch" class="@Tailwind.Search_Button_Blue">Search</button>

                </div>

            </div>




        </div>
        <div class="overflow-x-auto">

            <SfGrid @ref="grid" ID="gridAuditTrail" TValue="AuditTrailMasterView" EnablePersistence="false"
                    Query="@QueryGrid"
                    AllowPaging="true" AllowFiltering="true" AllowSelection="true" EnableAltRow="true"
                    AllowResizing="true" ShowColumnChooser="true" ShowColumnMenu="true" Width="100%" Height="400"
                    AllowExcelExport="true" AllowPdfExport="true" AllowTextWrap="false" AllowSorting="true"
                    AllowMultiSorting="true" AllowGrouping="true" AllowReordering="true" AllowRowDragAndDrop="false">

                <SfDataManager Url="@GRID_API_RESOURCE" CrossDomain="true" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                <GridPageSettings EnableQueryString="true" PageCount="10" PageSize="10" PageSizes="new int[] { 5, 10, 15, 20, 30, 50 }"></GridPageSettings>

                <GridEvents TValue="AuditTrailMasterView" OnActionComplete="ActionCompletedHandler" OnActionFailure="@ActionFailure"></GridEvents>

                <GridEditSettings AllowAdding="false" AllowEditing="true" AllowDeleting="false"
                                  ShowDeleteConfirmDialog="false" Mode="EditMode.Dialog">
                </GridEditSettings>

                <GridFilterSettings Columns="@filterColumns" Type="Syncfusion.Blazor.Grids.FilterType.Menu" ShowFilterBarStatus="true">

                </GridFilterSettings>


                <GridColumns>
                    <GridColumn Field=@nameof(AuditTrailMasterView.RowNumber) HeaderText="S/N" AutoFit="true"></GridColumn>
                    <GridColumn Field=@nameof(AuditTrailMasterView.Action) HeaderText="ACTION" AutoFit="false"></GridColumn>
                    <GridColumn Field=@nameof(AuditTrailMasterView.Description) HeaderText="DESCRIPTION" AutoFit="false"></GridColumn>
                    <GridColumn Field=@nameof(AuditTrailMasterView.ApplicationUserId_UserName) HeaderText="USERNAME" AutoFit="false"></GridColumn>
                    <GridColumn Field=@nameof(AuditTrailMasterView.Module) HeaderText="MODULE" AutoFit="true"></GridColumn>
                    <GridColumn Field=@nameof(AuditTrailMasterView.DateCreated) HeaderText="DATE CREATED" AutoFit="true" Format="dd MMM yyyy hh:mm tt" Type="ColumnType.DateTime"></GridColumn>

                    <GridColumn HeaderText="Action" AutoFit="true" HeaderTextAlign="TextAlign.Right" TextAlign=TextAlign.Center Width="50">
                        <Template>
                            @{
                                var row = (context as AuditTrailMasterView);

                                <span class="px-4 py-0 flex items-center justify-end">
                                    <button id="apple-ipad-air-dropdown-button-@row.Id" data-dropdown-toggle="apple-ipad-air-dropdown-@row.Id"
                                            class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus::outline-none dark::text-gray-400 dark::hover:text-gray-100"
                                            type="button">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
                                        </svg>
                                    </button>
                                    <div id="apple-ipad-air-dropdown-@row.Id" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="apple-ipad-air-dropdown-button-@row.Id">

                                            <li>
                                                <a href="javascript: void(0)" @onclick="@(e => OnViewRow(row))"
                                                   class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                                    View Details
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </span>


                            }


                        </Template>

                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

<Drawer @ref="@viewDrawer" Closable="true" Visible="showViewDrawer" Title='("Log Details")'
        OnClose="onViewDone">

    <AuditViewForm @ref="@viewForm" @bind-Model="@ViewModel" @bind-ShowModal="@showViewDrawer"
                   @bind-ActiveTabKey="@viewFormActiveTabKey">
    </AuditViewForm>

</Drawer>