<div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
    <h3 class="mb-4 text-xl font-bold dark:text-white">
        Ledger Accounts
    </h3>

</div>

<div class="relative overflow-x-auto shadow mb-6  sm:rounded-lg">
   @* <div class="p-2 mb-4 bg-white rounded-lg shadow sm:p-4 xl:p-6 dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-bold dark:text-white">
            GL Account - Charge
        </h3>

    </div>*@
    <!-- Table -->
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>

            <th scope="col" class="px-6 py-3">
                GL CODE
            </th>
            <th scope="col" class="px-6 py-3">
                GL NAME
            </th>
            <th scope="col" class="px-6 py-3">
                GL TYPE
            </th>
            <th scope="col" class="px-6 py-3">
                GL DESCRIPTION
            </th>
            <th scope="col" class="px-6 py-3">
                LEDGER BALANCE
            </th>
           @* <th scope="col" class="px-6 py-3">
                AVAILABLE
            </th>*@

        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LedgerAccounts)
        {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                <th scope="row"
                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="pl-3">
                        <div class="text-base font-semibold">@item.Code</div>
                    </div>
                </th>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        @item.Name
                    </div>
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        @item.AccountType
                    </div>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium   hover:underline">
                        @item.Description
                    </a>
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        @item.LedgerBalance.ToString("N2")
                    </div>
                </td>
               @* <td class="px-6 py-4">
                    <div class="flex items-center">
                        @item.AvailableBalance.ToString("N2")
                    </div>
                </td>*@


            </tr>
        }

        </tbody>
    </table>


</div>

@*<div class="relative overflow-x-auto shadow mb-3  sm:rounded-lg">
    <div class="p-2 mb-4 bg-white rounded-lg shadow sm:p-4 xl:p-6 dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-bold dark:text-white">
            GL Account - Interest
        </h3>

    </div>
    <!-- Table -->
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>

            <th scope="col" class="px-6 py-3">
                GL CODE
            </th>
            <th scope="col" class="px-6 py-3">
                GL NAME
            </th>
            <th scope="col" class="px-6 py-3">
                GL TYPE
            </th>
            <th scope="col" class="px-6 py-3">
                GL DESCRIPTION
            </th>
            <th scope="col" class="px-6 py-3">
                LEDGER BALANCE
            </th>
            <th scope="col" class="px-6 py-3">
                AVAILABLE
            </th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ExpenseLedgerAccounts)
        {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                <th scope="row"
                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="pl-3">
                        <div class="text-base font-semibold">@item.Code</div>
                    </div>
                </th>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        @item.Name
                    </div>
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        @item.AccountType
                    </div>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium   hover:underline">
                        @item.Description
                    </a>
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        @item.LedgerBalance
                    </div>
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        @item.AvailableBalance
                    </div>
                </td>


            </tr>
        }
        </tbody>
    </table>

</div>*@


<div class="col-span-6 sm:col-span-3 flex gap-2 mt-2">
    <div class="col-span-3 sm:col-span-3">
        <a href="/LoanProductSetup/Manage/all">
            <button class="text-CEMCS-Blue-100 border border-CEMCS-Blue-100 bg-white hover:bg-white focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                Back
            </button>
        </a>

    </div>
    <div class="col-span-3 sm:col-span-3">
        <a href="javascript: void(0)" @onclick=OnProceed>
            <button class="text-white bg-CEMCS-Blue-100 hover:bg-CEMCS-Blue-100 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                Next
            </button>
        </a>
    </div>
</div>

@code {

}