@page "/pending-approval"
@using AP.ChevronCoop.Entities.Security.Approvals;
@using System.Globalization;
@using ChevronCoop.Web.AppUI.BlazorServer.Pages.Approvals.DepositApprovals;


<main>

    @if (isLoading)
    {
        <LoadingComponent></LoadingComponent>
    }
    else
    {
        
    <div class="px-4 pt-6">

        <div class="col-span-3 sm:col-span-3">
            <button @onclick="GoToApprovals" class="text-CEMCS-Blue-100 border border-CEMCS-Blue-100 bg-white hover:bg-white focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                    type="submit">
                <svg class="inline mr-1" width="14" height="12" viewBox="0 0 14 12" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 5.99967H13Z" fill="#1F82BD" />
                    <path d="M5.66667 10.6663L1 5.99967M1 5.99967L5.66667 1.33301M1 5.99967H13"
                          stroke="#1F82BD" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg> Back
            </button>
        </div>
        <!-- Request Tabs -->
        @if (ViewModel != null && ViewModel.Module != null)
        {
            @if(ViewModel.Status == ApprovalStatus.REJECTED.ToString())
            {
                <div class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
                     role="alert">
                    @((MarkupString)@SvgHelpers.ApprovalRejected)

                    <span class="sr-only">Danger</span>
                    <div>
                        <span class="font-medium">Rejected</span>
                        <ul class="mt-1.5 ml-4  list-inside">
                            <li>The application was rejected</li>
                        </ul>
                    </div>
                </div>
            }
            @if(ViewModel.Status == ApprovalStatus.APPROVED.ToString())
            {
                <div class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
                     role="alert">

                    @((MarkupString)@SvgHelpers.ApprovalSuccess)
                    

                    <span class="sr-only">Approved</span>
                    <div>
                        <span class="font-medium">Approved</span>
                        <ul class="mt-1.5 ml-4  list-inside">
                            <li>You approved this request</li>
                        </ul>
                    </div>
                </div>
            }

                
            <div class="grid grid-cols-1 px-2 pt-6 xl:grid-cols-10 xl:gap-2 space-x-24 dark:bg-gray-900">

                <div class="col-span-6">
                    @if (ViewModel.ApprovalType.Equals(ApprovalType.LOAN_PRODUCT.ToString()))
                    {
                        <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                            <h3 class="mb-4 text-xl font-bold dark:text-white">
                                @ViewModel.ApprovalType.Replace("_", " ")
                            </h3>
                            <form action="">
                                <div class="grid grid-cols-6 gap-6">

                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Product Name
                                            </h2>
                                            <p>@CreateLoanProductCommand.Name</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Description
                                            </h2>
                                            <p>@CreateLoanProductCommand.Description</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Preferred
                                                executive loan product
                                            </h2>
                                            <p>@CreateLoanProductCommand.LoanProductType.ToString().Replace("_", " ")</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Loan
                                                amount
                                            </h2>
                                            <p>@CreateLoanProductCommand.PrincipalMinLimit.ToString("N2", new CultureInfo("en-US"))</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Interest
                                                rate
                                            </h2>
                                            <p>@CreateLoanProductCommand.InterestRate</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Tenor
                                                Unit
                                            </h2>
                                            <p>@CreateLoanProductCommand.TenureUnit</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Maximum
                                                tenor
                                            </h2>
                                            <p>@CreateLoanProductCommand.MaxTenureValue</p>
                                        </div>

                                    </div>
                                   
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Employee Count
                                            </h2>
                                            <p>@CreateLoanProductCommand.EmployeeGuarantorCount</p>
                                        </div>

                                    </div>
                                   
                                </div>
                            </form>
                        </div>
                    }
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.FIXED_DEPOSIT_APPLICATION.ToString()))
                    {
                        <FixedDepositApplication _FixedDepositAccountApplicationMasterView="_FixedDepositAccountApplicationMasterView" ApprovalType="@ViewModel.ApprovalType"></FixedDepositApplication>
                    }
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.SAVING_DEPOSIT_APPLICATION.ToString()))
                    {
                        string viewMode = "saving_only"; 
                        <SavingsAndActions _SavingsAccountApplicationMasterView="_SavingsAccountApplicationMasterView" ViewMode="@viewMode" ApprovalType="@ViewModel.ApprovalType"></SavingsAndActions>
                    }
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.SAVINGS_INCREASE_DECREASE.ToString()))
                    {
                        <SavingsIncrease _SavingsIncreaseDecreaseMasterView="_SavingsIncreaseDecreaseMasterView" ApprovalType="@ViewModel.ApprovalType"></SavingsIncrease>
                    }
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.SPECIAL_DEPOSIT_APPLICATION.ToString()))
                    {
                        <SpecialDepositApplication _SpecialDepositAccountApplicationMasterView="_SpecialDepositAccountApplicationMasterView" ApprovalType="@ViewModel.ApprovalType"></SpecialDepositApplication>
                         
                    }
                        else if (ViewModel.ApprovalType.Equals(ApprovalType.SPECIAL_DEPOSIT_INCREASE_DECREASE.ToString()))
                        {
                            <SpecialDepositIncrease _SpecialDepositIncreaseDecreaseMasterView="_SpecialDepositIncreaseDecreaseMasterView" ApprovalType="@ViewModel.ApprovalType"></SpecialDepositIncrease>
                        }
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.KYC_COMPLETION.ToString()))
                    {
                        <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                            <h3 class="mb-4 text-xl font-bold dark:text-white">
                                @ViewModel.ApprovalType.Replace("_", " ")
                            </h3>
                            <form action="">
                                <div class="grid grid-cols-6 gap-6">

                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                First Name
                                            </h2>
                                            <p>@UpdateMemberProfileCommand.FirstName</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Last Name
                                            </h2>
                                            <p>@UpdateMemberProfileCommand.LastName</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Date of Birth
                                            </h2>
                                            <p>@UpdateMemberProfileCommand.DOB.GetValueOrDefault().ToString("dd MMM yyyy")</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Country
                                            </h2>
                                            <p>@UpdateMemberProfileCommand.Country</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Date Created
                                            </h2>
                                            <p>@UpdateMemberProfileCommand.DateCreated.GetValueOrDefault().ToString("M/d/yyyy")</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Gender
                                            </h2>
                                            <p>@UpdateMemberProfileCommand.Gender</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Identification Number
                                            </h2>
                                            <p>@UpdateMemberProfileCommand.IdentificationNumber</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Membership Id
                                            </h2>
                                            <p>@UpdateMemberProfileCommand.MembershipId</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Comments
                                            </h2>
                                            <p>@UpdateMemberProfileCommand.Comments</p>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.MEMBER_ENROLLMENT.ToString()))
                    {
                        <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                            <h3 class="mb-4 text-xl font-bold dark:text-white">
                                @ViewModel.ApprovalType.Replace("_", " ")
                            </h3>
                            <form action="">
                                <div class="grid grid-cols-6 gap-6">

                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                First Name
                                            </h2>
                                            <p>@RegisterMemberCommand.FirstName</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Last Name
                                            </h2>
                                            <p>@RegisterMemberCommand.LastName</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Location
                                            </h2>
                                            <p>@RegisterMemberCommand.Location</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Email Address
                                            </h2>
                                            <p>@RegisterMemberCommand.Email</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                KYC Started
                                            </h2>
                                            <p>@RegisterMemberCommand.IsKycStarted</p>
                                        </div>

                                    </div>

                                </div>
                            </form>
                        </div>
                    }
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.LOAN_PRODUCT_APPLICATION.ToString()))
                    {
                        foreach(var item in CreateLoanApplicationCommand)
                        {
                             <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                            <h3 class="mb-4 text-xl font-bold dark:text-white">
                                @ViewModel.ApprovalType.Replace("_", " ")
                            </h3>
                            <form action="">
                                <div class="grid grid-cols-6 gap-6">
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Merbership Number
                                            </h2>
                                            <p>@item.CustomerId_MemberId</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Customer Name
                                            </h2>
                                            <p>@item.CustomerId_FirstName @item.CustomerId_LastName</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Loan Amount
                                            </h2>
                                                <p>@item.Principal.ToString("N2", new CultureInfo("en-US"))</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Tenure Unit
                                            </h2>
                                            <p>@item.TenureUnit</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Tenure Value
                                            </h2>
                                            <p>@item.TenureValue</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Repayment Date
                                            </h2>
                                            <p>@item.RepaymentCommencementDate.ToString("M/d/yyyy")</p>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        }
                       
                    }
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.DEPOSIT_PRODUCT.ToString()))
                    {
                        foreach (var item in _DepositProducts)
                        {
                            <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                                <h3 class="mb-4 text-xl font-bold dark:text-white">
                                    @ViewModel.ApprovalType.Replace("_", " ")
                                </h3>
                                <form action="">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Deposit Product Name
                                                </h2>
                                                <p>@item.Name</p>
                                            </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Short Name
                                                </h2>
                                                <p>@item.ShortName</p>
                                            </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Status
                                                </h2>
                                                <p>@item.Status</p>
                                            </div>

                                        </div>


                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Description
                                                </h2>
                                                <p>@item.Description</p>
                                            </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Date Created
                                                </h2>
                                                <p>@item.DateCreated.GetValueOrDefault().ToString("M/d/yyyy")</p>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        }
                    }
                   
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.SAVINGS_CASH_ADDITION.ToString()))
                    {
                        <SavingsCashAdditionApproval _SavingsCashAdditionMasterView="_SavingsCashAdditionMasterView" ApprovalType="@ViewModel.ApprovalType"></SavingsCashAdditionApproval>
                    }
                   
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.LOAN_OFFSET_APPLICATION.ToString()))
                    {
                        foreach (var item in _LoanOffsetMasterView)
                        {
                            <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                                <h3 class="mb-4 text-xl font-bold dark:text-white">
                                    @ViewModel.ApprovalType.Replace("_", " ")
                                </h3>
                                <form action="">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Loan Account Number
                                                </h2>
                                                <p>@item.LoanAccountId_AccountNo</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Offset Amount
                                                </h2>
                                                <p>@item.OffsetAmount.ToString("N2", new CultureInfo("en-US"))</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Allowed Offset Type
                                                </h2>
                                                <p>@item.AllowedOffsetType</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Loan Repayment Mode
                                                </h2>
                                                <p>@item.LoanRepaymentMode</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Loan Account Principal
                                                </h2>
                                                <p>@item.LoanAccountId_Principal.GetValueOrDefault(0).ToString("N0")</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Tenure Unit
                                                </h2>
                                                <p>@item.LoanAccountId_TenureUnit</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-6">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Tenure Unit
                                                </h2>
                                                <p>
                                                   @item.LoanAccountId_TenureValue
                                                </p>
                                            </div>

                                        </div>

                                         @*<div class="col-span-6 sm:col-span-6">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Interest Rate
                                                </h2>
                                                <p>
                                                    @item.SpecialDepositAccountId_InterestRate
                                                </p>
                                            </div>
                                        </div>*@

                                         <div class="col-span-6 sm:col-span-6">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Approval Status
                                                </h2>
                                                <p>
                                                    @item.ApprovalId_Status
                                                </p>
                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>
                        }
                    }
                    else if (ViewModel.ApprovalType.Equals(ApprovalType.LOAN_TOPUP_APPLICATION.ToString()))
                    {
                        foreach (var item in _LoanTopupMasterView)
                        {
                            <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                                <h3 class="mb-4 text-xl font-bold dark:text-white">
                                    @ViewModel.ApprovalType.Replace("_", " ")
                                </h3>
                                <form action="">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Destination Type
                                                </h2>
                                                <p>@item.DestinationType</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Topup Amount
                                                </h2>
                                                <p>@item.TopupAmount.ToString("N2", new CultureInfo("en-US"))</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Old Principal Balance
                                                </h2>
                                                <p>@item.OldPrincipalBalance</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Old Interest Rate
                                                </h2>
                                                <p>@item.OldInterestBalance</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                   Date Created
                                                </h2>
                                                <p>@item.DateCreated.GetValueOrDefault().ToString("M/d/yyyy")</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Loan Account Number
                                                </h2>
                                                <p>@item.LoanAccountId_AccountNo</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-6">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Tenure Unit
                                                </h2>
                                                <p>
                                                    <img src="@item.LoanAccountId_TenureUnit" />
                                                </p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-6">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Tenure Value
                                                </h2>
                                                <p>
                                                    <img src="@item.LoanAccountId_TenureValue" />
                                                </p>
                                            </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-6">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Customer Bank Account name
                                                </h2>
                                                <p>
                                                    @item.CustomerBankAccountId_AccountName
                                                </p>
                                            </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-6">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                  Customer Bank Account Number
                                                </h2>
                                                <p>
                                                    @item.CustomerBankAccountId_AccountNumber
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-6">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Comment
                                                </h2>
                                                <p>
                                                    @item.ApprovalId_Comment
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-6">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Approval Status
                                                </h2>
                                                <p>
                                                    @item.ApprovalId_Status
                                                </p>
                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>
                        }
                    }

                    else if (ViewModel.ApprovalType.Equals(ApprovalType.SPECIAL_DEPOSIT_CASH_ADDITION.ToString()))
                    {
                        foreach (var item in _SpecialDepositCashAdditionMasterView)
                        {
                            <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                                <h3 class="mb-4 text-xl font-bold dark:text-white">
                                    @ViewModel.ApprovalType.Replace("_", " ")
                                </h3>
                                <form action="">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Mode of Payment
                                                </h2>
                                                <p>@item.ModeOfPayment</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Account Number
                                                </h2>
                                                <p>@item.SpecialDepositAccountId_AccountNo</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Funding Amount
                                                </h2>
                                                <p>@item.SpecialDepositAccountId_FundingAmount</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Interest Rate
                                                </h2>
                                                <p>@item.SpecialDepositAccountId_InterestRate</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Date Created
                                                </h2>
                                                <p>@item.DateCreated.GetValueOrDefault().ToString("M/d/yyyy")</p>
                                            </div>

                                        </div>
                                       

                                        <div class="col-span-6 sm:col-span-6 w-full">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Document
                                                </h2>
                                                <div>
                                                    <img src="@item.CustomerPaymentDocumentId_DocumentData">
                                                    
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>
                        }
                    }

                    else if (ViewModel.ApprovalType.Equals(ApprovalType.SPECIAL_DEPOSIT_FUND_TRANSFER.ToString()))
                    {
                        foreach (var item in _SpecialDepositFundTransferMasterView)
                        {
                            <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                                <h3 class="mb-4 text-xl font-bold dark:text-white">
                                    @ViewModel.ApprovalType.Replace("_", " ")
                                </h3>
                                <form action="">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Destination Account Type
                                                </h2>
                                                <p>@item.DestinationAccountType</p>
                                            </div>
                                        </div>


                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Account Number
                                                </h2>
                                                <p>@item.SpecialDepositAccountId_AccountNo</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Transfer Amount
                                                </h2>
                                                <p>@item.Amount.ToString("N2")</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Interest Rate
                                                </h2>
                                                <p>@item.SpecialDepositAccountId_InterestRate</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Date Created
                                                </h2>
                                                    <p>@item.DateCreated.GetValueOrDefault().ToString("dd MMM yyyy hh:mm tt")</p>
                                            </div>

                                        </div>


                                      

                                    </div>
                                </form>
                            </div>
                        }
                    }

                    else if (ViewModel.ApprovalType.Equals(ApprovalType.SPECIAL_DEPOSIT_WITHDRAWAL.ToString()))
                    {
                        foreach (var item in _SpecialDepositWithdrawalMasterView)
                        {
                            <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                                <h3 class="mb-4 text-xl font-bold dark:text-white">
                                    @ViewModel.ApprovalType.Replace("_", " ")
                                </h3>
                                <form action="">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Withdrawal Destination Type
                                                </h2>
                                                <p>@item.WithdrawalDestinationType</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Amount
                                                </h2>
                                                <p>@item.Amount.ToString("N2", new CultureInfo("en-US"))</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Account Number
                                                </h2>
                                                <p>@item.SpecialDepositSourceAccountId_AccountNo</p>
                                            </div>

                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Funding Amount
                                                </h2>
                                                <p>@item.SpecialDepositSourceAccountId_FundingAmount.GetValueOrDefault().ToString("N2", new CultureInfo("en-US"))</p>
                                            </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Interest Rate
                                                </h2>
                                                <p>@item.SpecialDepositSourceAccountId_InterestRate</p>
                                            </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Date Created
                                                </h2>
                                                <p>@item.DateCreated.GetValueOrDefault().ToString("M/d/yyyy")</p>
                                            </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Customer Destination Bank Account Name
                                                </h2>
                                                <p>@item.CustomerDestinationBankAccountId_AccountName</p>
                                            </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Customer Destination Bank Account Number
                                                </h2>
                                                <p>@item.CustomerDestinationBankAccountId_AccountNumber</p>
                                            </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <div class="flex items-center  gap-8">
                                                <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                    Approval Status
                                                </h2>
                                                <p>@item.ApprovalId_Status</p>
                                            </div>

                                        </div>



                                    </div>
                                </form>
                            </div>
                        }
                    }

                    else if (ViewModel.ApprovalType.Equals(ApprovalType.FIXED_DEPOSIT_LIQUIDATION.ToString()))
                    {
                        <FixedDepositLiquidation _FixedDepositLiquidationMasterView="_FixedDepositLiquidationMasterView" ApprovalType="@ViewModel.ApprovalType"></FixedDepositLiquidation>
                    }

                    else if (ViewModel.ApprovalType.Equals(ApprovalType.FIXED_DEPOSIT_CHANGE_IN_MATURITY.ToString()))
                    {
                        <FixedDepositMaturity _FixedDepositChangeInMaturityMasterView="_FixedDepositChangeInMaturityMasterView" ApprovalType="@ViewModel.ApprovalType"></FixedDepositMaturity>
                    }

                    else
                    {
                        <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                            <h3 class="mb-4 text-xl font-bold dark:text-white">
                                @ViewModel.ApprovalType
                            </h3>
                            <form action="">
                                <div class="grid grid-cols-6 gap-6">

                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Membership name
                                            </h2>
                                            <p>@ViewModel.Module</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Member
                                                Name
                                            </h2>
                                            <p>@ViewModel.Module</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Preferred
                                                executive loan product
                                            </h2>
                                            <p>@ViewModel.Description</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Loan
                                                amount
                                            </h2>
                                            <p>@ViewModel.Module</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Interest
                                                rate
                                            </h2>
                                            <p>5</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Tenor
                                                Unit
                                            </h2>
                                            <p>@ViewModel.Module</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Repayment
                                                tenor
                                            </h2>
                                            <p>1111</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Commencement of repayment
                                            </h2>
                                            <p>@ViewModel.Module</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Years of
                                                service
                                            </h2>
                                            <p>1111</p>
                                        </div>

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <div class="flex items-center  gap-8">
                                            <h2 class=" text-sm font-medium text-gray-400 dark:text-white w-1/2">
                                                Disbursement account
                                            </h2>
                                            <p>@ViewModel.Module</p>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    }

                    @if (ViewModel.Status == ApprovalStatus.INITIATED.ToString() ||
                   ViewModel.Status == ApprovalStatus.CREATED.ToString() ||
                   ViewModel.Status == ApprovalStatus.PENDING_APPROVAL.ToString() ||
                   ViewModel.Status == "PENDING APPROVAL")
                    {
                        <div class="col-span-6 sm:col-span-3 flex gap-2 mt-2">
                            <div class="col-span-3 sm:col-span-3">

                                <button @onclick="ShowReject" class="text-CEMCS-Blue-100 border border-CEMCS-Blue-100 bg-white hover:bg-white focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                    Reject
                                </button>

                                <!-- Rejection modal -->
                                <Modal Visible="@showRejectPopup" Centered="true" Closable="false" DestroyOnClose="true" Footer="@("")"
                                       class="overflow-y-auto fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                                    <div class="relative w-full max-w-2xl max-h-full">
                                        <!-- Modal content -->
                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                            <!-- Modal header -->
                                            <div class="flex items-start justify-between px-6 pt-6 pb-2  rounded-t dark:border-gray-600">
                                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                    Reason for rejection
                                                </h3>
                                                <button type="button" @onclick="Cancel"
                                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                              clip-rule="evenodd">
                                                        </path>
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                            </div>
                                            <div class="px-6">
                                                <h2 class=" text-gray-400">
                                                    Please enter your reason for rejecting
                                                    this request
                                                </h2>
                                            </div>
                                            <!-- Modal body -->
                                            <EditForm Model="@Model" OnValidSubmit="RejectAsync">
                                                <FluentValidationValidator @ref="_fluentValidationValidator" />
                                                <ValidationSummary />
                                                <div class="p-6 space-y-6">

                                                    <textarea id="message" rows="4"
                                                              class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                              placeholder="Add comments" @bind=@Model.Comment></textarea>
                                                </div>
                                                <!-- Modal footer -->
                                                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                                    <button type="submit"
                                                            class="text-white bg-CEMCS-Blue-100 bg-CEMCS-Blue-100 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-CEMCS-Blue-100 dark:focus:ring-red-800">
                                                        Yes,
                                                        I reject
                                                    </button>
                                                    <button @onclick="Cancel" type="button"
                                                            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                                                        Cancel
                                                    </button>

                                                </div>

                                            </EditForm>
                                        </div>
                                    </div>
                                </Modal>
                                <!-- Rejection success modal -->
                                <Modal Visible="@showRejectSuccessPopup" Centered="true" Closable="false" DestroyOnClose="true" Footer="@("")"
                                       class="overflow-y-auto fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                                    <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
                                        <!-- Modal content -->
                                        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                                            <!-- Modal header -->
                                            <div class="flex flex-col justify-center items-center p-10 mb-4 rounded-t sm:mb-5 dark:border-gray-600">
                                                <svg width="79" height="80" viewBox="0 0 79 80" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M26.9305 39.9999L35.2639 48.3332L51.9305 31.6665M22.0764 9.5707C25.0651 9.33216 27.9025 8.15696 30.1847 6.21237C32.7635 4.01349 36.0415 2.80566 39.4305 2.80566C42.8195 2.80566 46.0976 4.01349 48.6764 6.21237C50.9585 8.15696 53.7959 9.33216 56.7847 9.5707C60.1628 9.83946 63.3346 11.3033 65.7309 13.6995C68.1271 16.0958 69.5909 19.2676 69.8597 22.6457C70.0982 25.6345 71.2734 28.4719 73.218 30.754C75.4169 33.3328 76.6247 36.6109 76.6247 39.9999C76.6247 43.3889 75.4169 46.6669 73.218 49.2457C71.2734 51.5279 70.0982 54.3653 69.8597 57.354C69.5909 60.7322 68.1271 63.9039 65.7309 66.3002C63.3346 68.6964 60.1628 70.1603 56.7847 70.429C53.7959 70.6676 50.9585 71.8428 48.6764 73.7874C46.0976 75.9863 42.8195 77.1941 39.4305 77.1941C36.0415 77.1941 32.7635 75.9863 30.1847 73.7874C27.9025 71.8428 25.0651 70.6676 22.0764 70.429C18.6982 70.1603 15.5265 68.6964 13.1302 66.3002C10.734 63.9039 9.27012 60.7322 9.00137 57.354C8.76282 54.3653 7.58762 51.5279 5.64303 49.2457C3.44415 46.6669 2.23633 43.3889 2.23633 39.9999C2.23633 36.6109 3.44415 33.3328 5.64303 30.754C7.58762 28.4719 8.76282 25.6345 9.00137 22.6457C9.27012 19.2676 10.734 16.0958 13.1302 13.6995C15.5265 11.3033 18.6982 9.83946 22.0764 9.5707Z"
                                                          stroke="#0E9F6E" stroke-width="4" stroke-linecap="round"
                                                          stroke-linejoin="round" />
                                                </svg>

                                                <p class="break-words text-center my-8">
                                                    You’ve successfully rejected this request
                                                </p>

                                                <form class="w-full">
                                                    <button @onclick="GoToApprovals" type="button"
                                                            class="my-2 py-3 px-5 w-full text-base font-medium text-center text-white rounded-lg bg-CEMCS-Blue-100 hover:bg-CEMCS-Blue-100 focus:ring-4 focus:ring-primary-300 dark:bg-CEMCS-Blue-100 dark:hover:bg-CEMCS-Blue-100 dark:focus:ring-primary-800">
                                                        Done
                                                    </button>
                                                </form>
                                            </div>
                                            <!-- Modal body -->
                                        </div>
                                    </div>
                                </Modal>
                            </div>
                            <div class="col-span-3 sm:col-span-3">

                                <button @onclick="ShowApproval" class="text-white bg-CEMCS-Blue-100 hover:bg-CEMCS-Blue-100 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                    Approve
                                </button>
                                <!-- Approval Form modal -->
                                <Modal Visible="@showApprovalPopup" Centered="true" Closable="false" DestroyOnClose="true" Footer="@("")"
                                       class="overflow-y-auto fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                                    <div class="relative w-full max-w-2xl max-h-full">
                                        <!-- Modal content -->
                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                            <!-- Modal header -->
                                            <div class="flex items-start justify-between px-6 pt-6 pb-2  rounded-t dark:border-gray-600">
                                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white mr-1">
                                                    Comment
                                                    <h2 class="text-gray-300">(Optional)</h2>
                                                </h3>
                                                <button @onclick="Cancel" type="button"
                                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                        data-modal-hide="approvalModalForm">
                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                              clip-rule="evenodd">
                                                        </path>
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                            </div>
                                            <div class="px-6">
                                                <h2 class=" text-gray-400">Please enter your comment for this request</h2>
                                            </div>
                                            <!-- Modal body -->
                                            <EditForm Model="@Model" OnValidSubmit="ApproveAsync">
                                                <FluentValidationValidator @ref="_fluentValidationValidator" />
                                                <ValidationSummary />
                                                <div class="p-6 space-y-6">

                                                    <textarea id="message" rows="4"
                                                              class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                              placeholder="Add comments" @bind=@Model.Comment></textarea>
                                                </div>
                                                <!-- Modal footer -->
                                                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                                    <button type="submit"
                                                            class="text-white bg-CEMCS-Blue-100 bg-CEMCS-Blue-100 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-CEMCS-Blue-100 dark:focus:ring-red-800">
                                                        Yes,
                                                        I approve
                                                    </button>
                                                    <button @onclick="Cancel" type="button"
                                                            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                                                        Cancel
                                                    </button>

                                                </div>

                                            </EditForm>

                                        </div>
                                    </div>
                                </Modal>
                                <!-- Approval success modal -->
                                <Modal Visible="@showApprovalSuccessPopup" Centered="true" Closable="false" DestroyOnClose="true" Footer="@("")"
                                       class="overflow-y-auto fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                                    <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
                                        <!-- Modal content -->
                                        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                                            <!-- Modal header -->
                                            <div class="flex flex-col justify-center items-center p-10 mb-4 rounded-t sm:mb-5 dark:border-gray-600">
                                                <svg width="79" height="80" viewBox="0 0 79 80" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M26.9305 39.9999L35.2639 48.3332L51.9305 31.6665M22.0764 9.5707C25.0651 9.33216 27.9025 8.15696 30.1847 6.21237C32.7635 4.01349 36.0415 2.80566 39.4305 2.80566C42.8195 2.80566 46.0976 4.01349 48.6764 6.21237C50.9585 8.15696 53.7959 9.33216 56.7847 9.5707C60.1628 9.83946 63.3346 11.3033 65.7309 13.6995C68.1271 16.0958 69.5909 19.2676 69.8597 22.6457C70.0982 25.6345 71.2734 28.4719 73.218 30.754C75.4169 33.3328 76.6247 36.6109 76.6247 39.9999C76.6247 43.3889 75.4169 46.6669 73.218 49.2457C71.2734 51.5279 70.0982 54.3653 69.8597 57.354C69.5909 60.7322 68.1271 63.9039 65.7309 66.3002C63.3346 68.6964 60.1628 70.1603 56.7847 70.429C53.7959 70.6676 50.9585 71.8428 48.6764 73.7874C46.0976 75.9863 42.8195 77.1941 39.4305 77.1941C36.0415 77.1941 32.7635 75.9863 30.1847 73.7874C27.9025 71.8428 25.0651 70.6676 22.0764 70.429C18.6982 70.1603 15.5265 68.6964 13.1302 66.3002C10.734 63.9039 9.27012 60.7322 9.00137 57.354C8.76282 54.3653 7.58762 51.5279 5.64303 49.2457C3.44415 46.6669 2.23633 43.3889 2.23633 39.9999C2.23633 36.6109 3.44415 33.3328 5.64303 30.754C7.58762 28.4719 8.76282 25.6345 9.00137 22.6457C9.27012 19.2676 10.734 16.0958 13.1302 13.6995C15.5265 11.3033 18.6982 9.83946 22.0764 9.5707Z"
                                                          stroke="#0E9F6E" stroke-width="4" stroke-linecap="round"
                                                          stroke-linejoin="round" />
                                                </svg>

                                                <p class="break-words text-center my-8">
                                                    You’ve successfully approved this request
                                                </p>

                                                <form class="w-full">
                                                    <button @onclick="GoToApprovals" type="button"
                                                            class="my-2 py-3 px-5 w-full text-base font-medium text-center text-white rounded-lg bg-CEMCS-Blue-100 hover:bg-CEMCS-Blue-100 focus:ring-4 focus:ring-primary-300 dark:bg-CEMCS-Blue-100 dark:hover:bg-CEMCS-Blue-100 dark:focus:ring-primary-800">
                                                        Done
                                                    </button>
                                                </form>
                                            </div>
                                            <!-- Modal body -->
                                        </div>
                                    </div>
                                </Modal>

                            </div>
                        </div>
                    }
                   

                </div>

            </div>
        }

    </div>
     }

</main>
