@page "/security/kyc-approvals"
@using AP.ChevronCoop.Entities.Security.Auth;
@using AP.ChevronCoop.Entities.Security.MemberProfiles.MemberProfiles
@using Syncfusion.Blazor.Grids
@layout AppUIMainLayout


<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5 pt-10">
    <div class="mx-auto max-w-screen-2xl px-4 lg:px-20">
        <!-- Start coding here -->
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">

            <span class="error p-2">@ErrorDetails</span>


            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">

                <div class="w-full md:w-1/2">

                    <div class="sm:col-span-2">
                        <label for="default-search" class="text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                                </svg>
                            </div>
                            <input type="search" id="default-search" @bind-value="@searchText" @bind-value:event="oninput" @onkeyup="OnSearchEnter"
                                   class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search...">

                            <button @onclick="OnSearch" class="text-white absolute right-0 bottom-0 top-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-r-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Search</button>
                        </div>
                    </div>

                </div>

            </div>


            <div class="overflow-x-auto">

                <SfGrid @ref="grid" ID="gridMemberProfile" TValue="MemberProfileMasterView" EnablePersistence="false"
                        Query="@QueryGrid"
                        AllowPaging="true" AllowFiltering="true" AllowSelection="true" EnableAltRow="true"
                        AllowResizing="true" ShowColumnChooser="true" ShowColumnMenu="true" Width="100%" Height="400"
                        AllowExcelExport="true" AllowPdfExport="true" AllowTextWrap="false" AllowSorting="true"
                        AllowMultiSorting="true" AllowGrouping="true" AllowReordering="true" AllowRowDragAndDrop="false">

                    <SfDataManager Url="@GRID_API_RESOURCE" Headers=@HeaderData CrossDomain="true" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                    <GridPageSettings EnableQueryString="true" PageCount="10" PageSize="10" PageSizes="new int[] { 5, 10, 15, 20, 30, 50 }"></GridPageSettings>

                    <GridEvents TValue="MemberProfileMasterView" OnActionComplete="ActionCompletedHandler" OnActionFailure="@ActionFailure" QueryCellInfo="CellInfoHandler"></GridEvents>

                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" ShowDeleteConfirmDialog="false" Mode="EditMode.Dialog"></GridEditSettings>

                    <GridFilterSettings Columns="@filterColumns" Type="Syncfusion.Blazor.Grids.FilterType.Menu" ShowFilterBarStatus="true"> </GridFilterSettings>

                    <GridColumns>
                        <GridColumn Field=@nameof(MemberProfileMasterView.FullName) HeaderText="NAME" AutoFit="true"></GridColumn>
                        @*   <GridColumn HeaderText="USER ROLE" AutoFit="true"></GridColumn>*@
                        <GridColumn Field=@nameof(MemberProfileMasterView.ApplicationUserId_Email) HeaderText="EMAIL" AutoFit="true"></GridColumn>
                        <GridColumn Field=@nameof(MemberProfileMasterView.MembershipId) HeaderText="MEMBERSHIP NO" AutoFit="false"></GridColumn>
                        <GridColumn Field=@nameof(MemberProfileMasterView.Country) HeaderText="COUNTRY" AutoFit="false"></GridColumn>
                        <GridColumn Field=@nameof(MemberProfileMasterView.PrimaryPhone) HeaderText="PHONE NO." AutoFit="false"></GridColumn>
                        <GridColumn Field=@nameof(MemberProfileMasterView.Status) HeaderText="STATUS" AutoFit="false"></GridColumn>
                        <GridColumn HeaderText="Action" AutoFit="true" HeaderTextAlign="TextAlign.Right" TextAlign=TextAlign.Center Width="50">
                            <Template>
                                @{
                                    var row = (context as MemberProfileMasterView);

                                    <span class="px-4 py-0 flex items-center justify-end">
                                        <button id="apple-ipad-air-dropdown-button-@row.Id" data-dropdown-toggle="apple-ipad-air-dropdown-@row.Id"
                                                class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus::outline-none dark::text-gray-400 dark::hover:text-gray-100"
                                                type="button">
                                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
                                            </svg>
                                        </button>

                                        <div id="apple-ipad-air-dropdown-@row.Id" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">

                                            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="apple-ipad-air-dropdown-button-@row.Id">
                                                <li>


                                                    <a href="javascript: void(0)" @onclick=@(e => OnApproveKyc(row)) class="block py-2 px-4 hover:bg-green-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                                        Approve KYC
                                                    </a>


                                                </li>
                                                <li>


                                                    <a href="javascript: void(0)" @onclick="@(e => OnViewRow(row))" class="block py-2 px-4 hover:bg-green-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                                        View
                                                    </a>

                                                </li>

                                            </ul>

                                        </div>
                                    </span>


                                }


                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>


        </div>
    </div>
</section>
<Drawer @ref="@approveDrawer" Closable="true" Visible="showApproveDrawer" Title='("Approve Kyc")'
        OnClose="onApproveDone">
    <ApproveKYCCompletionForm @ref="@approveForm" @bind-Model="@ApproveModel" @bind-ShowModal="@showApproveDrawer"></ApproveKYCCompletionForm>
</Drawer>