<EditForm Model="@Model">
<FluentValidationValidator/>


<ValidationSummary/>

<div class="grid gap-4 sm:grid-cols-2 sm:gap-6">


<div class="w-full">
    <label for="Code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Code
    </label>
    <SfTextBox Multiline="false" ID="Code" Placeholder="Code" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@Model.Code OnBlur="OnBlur">
    </SfTextBox>
</div>


<div class="sm:col-span-2">
    <label for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Name
    </label>
    <SfTextBox Multiline="true" ID="Name" Placeholder="Name" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@Model.Name OnBlur="OnBlur">
    </SfTextBox>
</div>


<div class="sm:col-span-2">
    <label for="ShortName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Short Name
    </label>
    <SfTextBox Multiline="true" ID="ShortName" Placeholder="ShortName" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@Model.ShortName OnBlur="OnBlur">
    </SfTextBox>
</div>

<div class="w-full">
    <label for="CurrencyId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Select default currency
    </label>

    @{
        var combobox_Currency_res = $"{Config.ODATA_VIEWS_HOST}/{nameof(CurrencyMasterView)}";
    }

    <SfComboBox TValue="string" TItem="CurrencyMasterView" OnBlur="OnBlur"
                @bind-Value=@Model.DefaultCurrencyId Query="@Query_Combo"
                FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                ShowClearButton="true" AllowFiltering=true IgnoreAccent=true Placeholder="Select currency">
        <SfDataManager Url="@combobox_Currency_res" CrossDomain="true" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
        <ComboBoxFieldSettings Text="Name" Value="Id"></ComboBoxFieldSettings>
    </SfComboBox>


</div>

<div class="sm:col-span-2">
    <label for="CurrencyId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Select deposit bank account
    </label>

    @{
        var combobox_Deposit_res = $"{Config.ODATA_VIEWS_HOST}/{nameof(CompanyBankAccountMasterView)}";
    }

    @* <SfComboBox TValue="string" TItem="CompanyBankAccountMasterView" OnBlur="OnBlur"
                        @bind-Value=@Model.BankDepositAccountId Query="@Query_Combo"
                        FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                        ShowClearButton="true" AllowFiltering=true IgnoreAccent=true Placeholder="Select deposit acc">
                <SfDataManager Url="@combobox_Deposit_res" CrossDomain="true" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                <ComboBoxFieldSettings Text="AccountName" Value="Id"></ComboBoxFieldSettings>
            </SfComboBox>*@


</div>

<div class="sm:col-span-2">
    <label for="CurrencyId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Select disbursement bank account
    </label>

    @*  <SfComboBox TValue="string" TItem="CompanyBankAccountMasterView" OnBlur="OnBlur"
                        @bind-Value=@Model.DisbursementAccountId Query="@Query_Combo"
                        FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                        ShowClearButton="true" AllowFiltering=true IgnoreAccent=true Placeholder="Select disbursement acc">
                <SfDataManager Url="@combobox_Deposit_res" CrossDomain="true" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                <ComboBoxFieldSettings Text="AccountName" Value="Id"></ComboBoxFieldSettings>
            </SfComboBox>*@


</div>


<div class="w-full">
    <label for="MinimumAge" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Minimum Age
    </label>

    @*<SfNumericTextBox ID="MinimumAge" TValue="int" @bind-Value="@Model.MinimumAge"></SfNumericTextBox>*@
</div>


<div class="w-full">
    <label for="MaximumAge" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Maximum Age
    </label>

    @*<SfNumericTextBox ID="MaximumAge" TValue="int" @bind-Value="@Model.MaximumAge"></SfNumericTextBox>*@
</div>


@* <div class="sm:col-span-2">
        <label for="BankDepositAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        BankDeposit AccountId
        </label>
        <SfTextBox Multiline="false" Enabled=false ID="BankDepositAccountId" Placeholder="BankDepositAccountId" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        @bind-Value=@ViewModel.BankDepositAccountId_AccountName OnBlur="OnBlur"></SfTextBox>
        </div>


        <div class="sm:col-span-2">
        <label for="DisbursementAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Disbursement AccountId
        </label>
        <SfTextBox Multiline="false" Enabled=false ID="DisbursementAccountId" Placeholder="DisbursementAccountId" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        @bind-Value=@ViewModel.DisbursementAccountId_AccountName OnBlur="OnBlur"></SfTextBox>
        </div>*@


<div class="sm:col-span-2">
    <label for="PrincipalReceivableAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Principal Receivable AccountId
    </label>
    <SfTextBox Multiline="false" Enabled=false ID="PrincipalReceivableAccountId" Placeholder="PrincipalReceivableAccountId" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@ViewModel.PrincipalAccountId_Name OnBlur="OnBlur">
    </SfTextBox>
</div>


<div class="sm:col-span-2">
    <label for="PrincipalLossAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Principal Loss AccountId
    </label>
    <SfTextBox Multiline="false" Enabled=false ID="PrincipalLossAccountId" Placeholder="PrincipalLossAccountId" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@ViewModel.PrincipalLossAccountId_Name OnBlur="OnBlur">
    </SfTextBox>
</div>


<div class="sm:col-span-2">
    <label for="InterestReceivableAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Interest Receivable AccountId
    </label>
    <SfTextBox Multiline="false" Enabled=false ID="InterestReceivableAccountId" Placeholder="InterestReceivableAccountId" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@ViewModel.InterestIncomeAccountId_Name OnBlur="OnBlur">
    </SfTextBox>
</div>


<div class="sm:col-span-2">
    <label for="InterestLossAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Interest Loss AccountId
    </label>
    <SfTextBox Multiline="false" Enabled=false ID="InterestLossAccountId" Placeholder="InterestLossAccountId" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@ViewModel.InterestLossAccountId_Name OnBlur="OnBlur">
    </SfTextBox>
</div>


<div class="sm:col-span-2">
    <label for="PenalInterestReceivableAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Penal Interest Receivable AccountId
    </label>
    <SfTextBox Multiline="false" Enabled=false ID="PenalInterestReceivableAccountId" Placeholder="PenalInterestReceivableAccountId" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@ViewModel.PenalInterestReceivableAccountId_Name OnBlur="OnBlur">
    </SfTextBox>
</div>


<div class="sm:col-span-2">
    <label for="ChargesReceivableAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Charges Receivable AccountId
    </label>
    <SfTextBox Multiline="false" Enabled=false ID="ChargesReceivableAccountId" Placeholder="ChargesReceivableAccountId" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@ViewModel.ChargesIncomeAccountId_Name OnBlur="OnBlur">
    </SfTextBox>
</div>


<div class="sm:col-span-2">
    <label for="ChargesAccrualAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Charges Accrual AccountId
    </label>
    <SfTextBox Multiline="false" Enabled=false ID="ChargesAccrualAccountId" Placeholder="ChargesAccrualAccountId" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@ViewModel.ChargesAccrualAccountId_Name OnBlur="OnBlur">
    </SfTextBox>
</div>


<div class="sm:col-span-2">
    <label for="Description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Description
    </label>
    <SfTextBox Multiline="true" ID="Description" Placeholder="Description" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               @bind-Value=@Model.Description OnBlur="OnBlur">
    </SfTextBox>
</div>


<div class="w-full">
    <label for="IsActive" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Is Active
    </label>

    <SfSwitch ID="IsActive" @bind-Checked="@Model.IsActive" @onblur="@OnBlur"/>
</div>


</div>

<button type="button" @onclick="OnSave"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Save
</button>
<button type="button" @onclick="OnCancel"
        class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
    Cancel
</button>

</EditForm>


<Modal Title="@("Notification")" Visible="@showPopup" DestroyOnClose="true"
       OnOk="OnCancel" OkText="@("Ok")"
       OnCancel="OnCancel" CancelText="@("Cancel")">
    <p>@notificationText</p>
</Modal>