@page "/account/loanapplicationshistory"
@using AP.ChevronCoop.Entities.CoopCustomers.CustomerBankAccounts;
@using AP.ChevronCoop.Entities.Deposits.SpecialDeposits.SpecialDepositAccounts;
@using AP.ChevronCoop.Entities.Loans.LoanApplications;
<main>
    <div class="px-4 pt-6">

        <!-- Request Tabs -->

        <div class="mb-4 flex w-full items-center font-semibold justify-between">
            <h1>Loan Application Request</h1>

            <a href="/account/loanproductApplication">
                <button type="button" data-modal-toggle="add-product-modal"
                        class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white rounded-lg bg-green-500 hover:bg-green-500 focus:ring-4 focus:ring-primary-300 sm:ml-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    <svg class="mr-2 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                    Apply for a loan product
                </button>
            </a>
        </div>

        <div class="relative overflow-x-auto shadow mb-3 sm:rounded-lg">

            <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <!-- Start coding here -->

                <span class="error p-2">@ErrorDetails</span>
                <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                    <div class="w-full md:w-1/2">

                        <div class="sm:col-span-2">
                            <label for="default-search" class="text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                                    </svg>
                                </div>
                                <input type="search" id="default-search" @bind-value="@searchText" @bind-value:event="oninput" @onkeyup="OnSearchEnter"
                                       class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search...">

                                <button @onclick="OnSearch" class="text-white absolute right-0 bottom-0 top-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-r-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Search</button>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="overflow-x-auto">
                    <SfGrid @ref="grid" ID="gridLoanApplication" TValue="LoanApplicationMasterView" EnablePersistence="false"
                            Query="@QueryGrid"
                            AllowPaging="true" AllowFiltering="true" AllowSelection="true" EnableAltRow="true"
                            AllowResizing="true" ShowColumnChooser="true" ShowColumnMenu="true" Width="100%" Height="500"
                            AllowExcelExport="true" AllowPdfExport="true" AllowTextWrap="false" AllowSorting="true"
                            AllowMultiSorting="true" AllowGrouping="true" AllowReordering="true" AllowRowDragAndDrop="false" Toolbar="@(new List<string>() { "ExcelExport", "PdfExport" })">
                        <SfDataManager Url="@GRID_API_RESOURCE" Headers=@HeaderData CrossDomain="true" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                        <GridPageSettings EnableQueryString="true" PageCount="10" PageSize="10" PageSizes="new int[] { 5, 10, 15, 20, 30, 50 }"></GridPageSettings>

                        <GridEvents TValue="LoanApplicationMasterView" OnActionComplete="ActionCompletedHandler" OnActionFailure="@ActionFailure" QueryCellInfo="CellInfoHandler" OnToolbarClick="ToolbarClickHandler"></GridEvents>

                        <GridEditSettings AllowAdding="false" AllowEditing="true" AllowDeleting="false"
                                          ShowDeleteConfirmDialog="false" Mode="EditMode.Dialog">
                        </GridEditSettings>

                        <GridFilterSettings Columns="@filterColumns" Type="Syncfusion.Blazor.Grids.FilterType.Menu" ShowFilterBarStatus="true">

                        </GridFilterSettings>

                        <GridColumns>
                            <GridColumn Field=@nameof(LoanApplicationMasterView.RowNumber) HeaderText="S/N" AutoFit="true"></GridColumn>
                            <GridColumn Field=@nameof(LoanApplicationMasterView.ApplicationNo) HeaderText="APPLICATION NUMBER" AutoFit="true"></GridColumn>
                            <GridColumn Field=@nameof(LoanApplicationMasterView.AccountNo) HeaderText="ACCOUNT NUMBER" AutoFit="true"></GridColumn>
                            <GridColumn Field=@nameof(LoanApplicationMasterView.LoanProductId_LoanProductType) HeaderText="LOAN TYPE" AutoFit="true"></GridColumn>
                            <GridColumn Field=@nameof(LoanApplicationMasterView.Principal) HeaderText="LOAN AMOUNT" Format="N2" AutoFit="false"></GridColumn>
                            <GridColumn Field=@nameof(LoanApplicationMasterView.LoanProductId_TenureUnit) HeaderText="TENURE UNIT" AutoFit="false"></GridColumn>
                            <GridColumn Field=@nameof(LoanApplicationMasterView.TenureValue) HeaderText="TENURE VALUE" AutoFit="false"></GridColumn>
                            <GridColumn Field=@nameof(LoanApplicationMasterView.RepaymentCommencementDate) HeaderText="REPAYMENT COMMENCEMENT" AutoFit="true" Format="dd/MMM/yyyy" Type="ColumnType.DateTime"></GridColumn>
                            <GridColumn HeaderText="STATUS" AutoFit="true" HeaderTextAlign="TextAlign.Right" TextAlign=TextAlign.Center Width="70">
                                <Template>

                                    @{
                                        var row = (context as LoanApplicationMasterView);

                                        if (row.ApprovalId_Status == ApprovalStatus.INITIATED.ToString())
                                        {
                                            <span class="bg-purple-100 dark:bg-purple-200 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md">
                                                @row.ApprovalId_Status
                                            </span>
                                        }
                                        else if (row.ApprovalId_Status == ApprovalStatus.PENDING_APPROVAL.ToString())
                                        {
                                            <span class="bg-purple-100 dark:bg-purple-200 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md">
                                                @row.ApprovalId_Status
                                            </span>
                                        }
                                        else if (row.ApprovalId_Status == ApprovalStatus.APPROVED.ToString())
                                        {
                                            <span class="bg-green-100 dark:bg-green-200 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md">
                                                @row.ApprovalId_Status
                                            </span>
                                        }
                                        else if (row.ApprovalId_Status == ApprovalStatus.REJECTED.ToString())
                                        {
                                            <span class="bg-red-100 dark:bg-red-200 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md">
                                                @row.ApprovalId_Status
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="bg-purple-100 dark:bg-purple-200 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md">
                                                @row.ApprovalId_Status
                                            </span>
                                        }
                                    }

                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>

            </div>

            <div class="items-center px-4 pb-4">
                <nav class="flex items-center justify-between pt-4" aria-label="Table navigation">
                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                        Showing
                        <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
                        of
                        <span class="font-semibold text-gray-900 dark:text-white">1000</span>
                    </span>
                    <ul class="inline-flex items-center -space-x-px">
                        <li>
                            <a href="#"
                               class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Previous</span>
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                     viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                          clip-rule="evenodd">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-current="page"
                               class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
                                3
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                ...
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                100
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Next</span>
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                     viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                          clip-rule="evenodd">
                                    </path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>

@code {

}