@using AP.ChevronCoop.Entities.Security;

@*<EditForm Model="@Model">
	<FluentValidationValidator />
	<ValidationSummary />*@
<div id="drawer-right-example" class="fixed top-16 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform  bg-white w-6/12 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-between">
            @* <div>
                <svg class="inline mr-1" width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.4585 3.91663H11.7502C10.7114 3.91663 9.71518 4.32927 8.98066 5.06379C8.24614 5.79831 7.8335 6.79453 7.8335 7.83329V39.1666C7.8335 40.2054 8.24614 41.2016 8.98066 41.9361C9.71518 42.6706 10.7114 43.0833 11.7502 43.0833H35.2502C36.2889 43.0833 37.2851 42.6706 38.0197 41.9361C38.7542 41.2016 39.1668 40.2054 39.1668 39.1666V17.625L25.4585 3.91663Z" stroke="#374151" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M25.4585 3.91663V17.625H39.1668" stroke="#374151" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div>
                <h2>User Mangement.csv</h2>
                <h3 class="font-light text-gray-400">5 pages 250kb</h3>
            </div>*@
        </div>
        <div class="flex items-center justify-between gap-1">
            @*            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 6L6 18" stroke="#707070" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6 6L18 18" stroke="#707070" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>*@

        </div>
    </div>

    <div class="flex items-center justify-between mt-4 mb-4 gap-1">
        <div class="w-6/12">
            <button type="button" class="inline-flex items-center py-4 w-full justify-center px-3 text-sm font-medium text-center text-white rounded-lg bg-CEMCS-Blue-100 hover:bg-CEMCS-Blue-100 focus:ring-4 focus:ring-primary-300 sm:ml-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" @onclick="OnShowValidEntry">
                Valid Entries
            </button>
        </div>
        <div class="flex items-center justify-between gap-1 w-6/12">
            <button type="button" class="inline-flex items-center py-4 w-full justify-center px-3 text-sm font-medium text-center text-CEMCS-Blue-100 border-CEMCS-Blue-100 border-2 rounded-lg bg-white hover:bg-white focus:ring-4 focus:ring-primary-300 sm:ml-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" @onclick="OnShowInValidEntry">
                Invalid Entries
            </button>
        </div>
    </div>

    <div class="flex items-center justify-between mt-4 mb-4 gap-1">
        <div class="w-6/12"> </div>
        <div class="flex items-center justify-between gap-1 w-6/12">
            <div class="w-6/12">
                <button @onclick="@OnExport" type="button" class="inline-flex items-center py-4 w-full justify-center px-3 border-CEMCS-Blue-100 border-2 text-sm font-medium text-center text-CEMCS-Blue-100 rounded-lg bg-white hover:bg-CEMCS-Blue-100 focus:ring-4 focus:ring-primary-300 sm:ml-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    <svg class="inline mr-1" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2731_62607)">
                            <path d="M2.49984 5.67079H5.67067V2.49996H9.99984V5.99163H10.8332V2.49996C10.8332 2.27895 10.7454 2.06698 10.5891 1.9107C10.4328 1.75442 10.2209 1.66663 9.99984 1.66663H4.529L1.6665 4.52913V12.5C1.6665 12.721 1.7543 12.9329 1.91058 13.0892C2.06686 13.2455 2.27882 13.3333 2.49984 13.3333H9.99984C10.2209 13.3333 10.4328 13.2455 10.5891 13.0892C10.7454 12.9329 10.8332 12.721 10.8332 12.5H2.49984V5.67079ZM2.49984 4.87079L4.87067 2.49996H4.99984V4.99996H2.49984V4.87079Z" fill="#1F82BD"/>
                            <path d="M11.8002 6.81247C11.7205 6.74421 11.6179 6.70854 11.5131 6.71259C11.4082 6.71664 11.3087 6.76011 11.2345 6.83432C11.1603 6.90853 11.1168 7.008 11.1128 7.11286C11.1087 7.21773 11.1444 7.32026 11.2127 7.39997L12.5668 8.74997H7.50016C7.38966 8.74997 7.28367 8.79387 7.20553 8.87201C7.12739 8.95015 7.0835 9.05613 7.0835 9.16664C7.0835 9.27714 7.12739 9.38313 7.20553 9.46127C7.28367 9.53941 7.38966 9.5833 7.50016 9.5833H12.5793L11.2127 10.95C11.169 10.9873 11.1336 11.0333 11.1086 11.085C11.0836 11.1367 11.0695 11.193 11.0673 11.2504C11.0651 11.3077 11.0748 11.365 11.0957 11.4184C11.1167 11.4719 11.1485 11.5205 11.1891 11.5611C11.2297 11.6017 11.2782 11.6335 11.3317 11.6544C11.3852 11.6754 11.4424 11.685 11.4998 11.6828C11.5572 11.6806 11.6135 11.6665 11.6652 11.6415C11.7168 11.6165 11.7628 11.5811 11.8002 11.5375L14.1668 9.16664L11.8002 6.81247Z" fill="#1F82BD"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_2731_62607">
                                <rect width="15" height="15" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    Export
                </button>
                @if (showValidData && ValidDataModel != null && ValidDataModel.Count > 0)
                {
                    <div class="w-6/12">
                        <button type="button" @onclick="@OnCommit" class="inline-flex items-center py-4 w-full justify-center px-3 text-sm font-medium text-center text-white rounded-lg bg-green-500 hover:bg-CEMCS-Blue-100 focus:ring-4 focus:ring-primary-300 sm:ml-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            <svg class="mr-1 inline" width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2733_64371)">
                                    <path d="M13.1023 10.452V13.0546C13.1023 13.3997 12.9739 13.7307 12.7455 13.9747C12.517 14.2188 12.2071 14.3559 11.884 14.3559H3.35598C3.03287 14.3559 2.723 14.2188 2.49452 13.9747C2.26605 13.7307 2.1377 13.3997 2.1377 13.0546V10.452" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10.6657 5.89749L7.61994 2.64429L4.57422 5.89749" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.61963 2.64429V10.452" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_2733_64371">
                                        <rect width="14.6195" height="15.6154" fill="white" transform="translate(0.310059 0.692383)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            Submit
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (showValidData)
    {
        <DataMigrationPreviewGrid @bind-Model="@ValidDataModel"></DataMigrationPreviewGrid>
    }
    @if (showInValidData)
    {
        <DataMigrationPreviewGrid @bind-Model="@InValidDataModel"></DataMigrationPreviewGrid>
    }





</div>
@*</EditForm>*@