@using AP.ChevronCoop.AppDomain.Deposits.Savings.SavingsAccountApplications;
@using AP.ChevronCoop.Entities.Deposits.DepositApplications;
@using AP.ChevronCoop.Entities.Deposits.Products.DepositProducts;

@if (ShowAlertPage)
{
    <SuccessMessageModal Message="We'll notify you once this setup has been approved."
                         showPopup="true"
                         NavigateToPage="false"
                         PageURL="/account/DepositProduct/Applications"
                         Header="Your special deposit account application has been sent to Internal control for approval."/>
}


<Drawer @ref="@addDrawer" Closable="true" Visible="showAddDrawer" Title='("Savings Cash Addition")'
        OnClose="onAddDone">


    <EditForm Model="@Command" OnValidSubmit="OnSave">
        @*<FluentValidationValidator @ref="_fluentValidationValidator" />*@

        <div class="pb-20 flex flex-col justify-between h-full">

            <div class="grid grid-cols-6 gap-6">

                @if(showDepositAccountMasterView == true)
                {
                    <div class="col-span-6">
                        <label for="preferred-fixed-deposit"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Select preferred savings account
                        </label>

                        <SfDropDownList TItem="DepositAccountsMasterView" TValue="string" PopupHeight="auto" AllowFiltering=true CssClass="@Tailwind.ComboBox_General" DataSource="@DepositAccountsMasterViewSrc">
                            <DropDownListEvents TItem="DepositAccountsMasterView" ValueChange="GetDepositAccountMasterID" TValue="string"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Caption" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>

                    </div>
                }
              

                <div class="col-span-6 sm:col-span-3">
                    <label for="input-name"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Membership number
                    </label>
                    <input type="input"
                           value="@MembersNumber"
                           name="member-number"
                           id="member-number"
                           class="@Tailwind.TextBox_General"
                           placeholder=""
                           readonly
                           required/>

                </div>
                <div class="col-span-6 sm:col-span-3">

                    <label for="input-name"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Member name
                    </label>
                    <input type="input"
                           name="member-name"
                           id="member-name"
                           value="@MembersName"
                           class="@Tailwind.TextBox_General"
                           placeholder=""
                           readonly
                           required/>
                </div>

                <div class="col-span-6 sm:col-span-full">
                    <label for="preferred-fixed-deposit"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Destination Account
                    </label>

                    <input type="input"
                           name="member-name"
                           id="member-name"
                           value="@SavingsAccountNumber"
                           class="@Tailwind.TextBox_General"
                           placeholder=""
                           readonly
                           required/>

                </div>

                <div class="col-span-6">
                    <label for="input-name"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Amount <br/>

                    </label>
                    <SfNumericTextBox TValue="decimal" CssClass="@Tailwind.TextBox_General"  @bind-Value="Command.Amount" Format="N2" Max=30000000 Min=0 Decimals=2></SfNumericTextBox>


                </div>


                <div class="col-span-6  space-y-4 my-6" id="viewBox-wrapper">
                    <div class="flex items-center flex-col justify-center rounded-lg px-16 py-4 border border-gray-300 bg-gray-50 text-center">
                        <p class="test-base font-medium">@BankName (@AccountName)</p>
                        <p class="text-2xl font-bold text-CEMCS-Blue-100">
                            @AccountNumber
                        </p>
                        <p class="text-sm text-bankCard font-normal">
                            Use this account for this transaction only<br/>

                        </p>
                    </div>

                    <div class="col-span-6 sm:col-full">

                        <div class="col-span-6 sm:col-full">

                            <label for="Primary bank sort code"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Upload receipt
                            </label>


                            <SfUploader AutoUpload="true" AllowedExtensions=".png, .jpeg, .jpg, .pmb, .gif" AllowMultiple="false">
                                <UploaderEvents OnRemove="@OnRemoveHandler" ValueChange="OnChangeDocumentUpload"></UploaderEvents>
                            </SfUploader>

                            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300"
                               id="file_input_help">
                                Max file size: 10kb <br/>
                                File type: PDF, PNG, JPG, JPEG
                            </p>

                        </div>

                        <div class="col-span-6 sm:col-span-3">

                            <img src="@UploadedImage" />

                        </div>


                    </div>
                </div>


            </div>


        </div>

        <ValidationSummary/>

        <div class="flex col-span-6 sm:col-full space-x-4 justify-end">
            <button class="@Tailwind.Button_Cancel"
                    @onclick="onAddDone"
                    type="button">
                Back
            </button>


            <button id="updateProductButton"
                    disabled="@IsButtonDisabled"
                    class="@Tailwind.Button_Blue"
                    type="submit">
                Submit
            </button>
        </div>

    </EditForm>

</Drawer>