@using AP.ChevronCoop.Entities.Security.Approvals;
@*<EditForm Model="@Model">
	<FluentValidationValidator />
	<ValidationSummary />
	<div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
		<div class="sm:col-span-2">
			<label for="Owner" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				Select status
			</label>


			@{
				var statusTypes = Enum.GetNames(typeof(ProductStatus)).ToList();

			}

			<SfComboBox id="Status" DataSource=@statusTypes TValue="string" TItem="string" OnBlur="OnBlur"
			@bind-Value=@Model.Status
						ShowClearButton="true" AllowFiltering=true IgnoreAccent=true Placeholder="Select status">
			</SfComboBox>
		</div>
		<div class="sm:col-span-2">
			<label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your reason</label>
<textarea id="message" rows="4" @bind="Model.Comment" required class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
		</div>

	</div>
	<br />

	<button type="button" @onclick="OnSave"
			class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
		Save
	</button>

	<button type="button" @onclick="OnCancel"
			class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
		Cancel
	</button>
</EditForm>*@
<Modal Title="@("Notification")" Visible="@showPopup" DestroyOnClose="true"
       OnOk="OnCancel" OkText="@("Ok")"
       OnCancel="OnCancel" CancelText="@("Cancel")">
    <p>@notificationText</p>
</Modal>