@page "/admin/dashboard"
@using ChevronCoop.Web.AppUI.BlazorServer.Data;
@layout AppUIMainLayout
@attribute [Authorize]
@inject IEntityDataService DataService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider




<main>
   @* @if (isLoading)
    {
        <LoadingComponent></LoadingComponent>
    }
    else
    {*@
        <div class="px-4 pt-6">
            <div class="mb-4">
                <nav class="flex mb-5" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 md:space-x-2">
                        <li class="inline-flex items-center">
                        <a href="/admin/dashboard" class="inline-flex items-center text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">
                                <svg class="w-5 h-5 mr-2.5 text-gray-500 transition duration-75 group-hover:text-sidebar-icons-active active:text-sidebar-icons-active group" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                    <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                                </svg>
                                Admin Dashboard
                            </a>
                        </li>
                        <li>
                            <div class="flex items-center">
                                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                        </li>

                    </ol>
                </nav>
            </div>
            <div class="flex flex-row justify-between bg-dashboard-top-bg rounded-lg shadow ">

                <img class=" h-full w-1/2" src="../images/chevron/dashboard/Mask group.svg" alt="pattern-icon" />
                <div class="pr-24 h-fit">
                    <img class="justified-end" src="../images/chevron/dashboard/Heros.svg" alt="dashboard-image" />
                </div>


            </div>


            <div class="grid grid-cols-1 gap-2 mt-4 w-full md:grid-cols-2 xl:grid-cols-4">

                <div class="p-4 bg-white rounded-lg shadow sm:p-6 xl:p-4">

                    <div class="flex flex-row items-center gap-x-3 py-4">
                        @((MarkupString)SvgHelpers.DashboardWallet)

                        <div class="flex flex-col justify-start">
                            <div class="text-gray-500 text-sm">@DepositProductType.SAVINGS.ToString()</div>
                            <div class="text-base font-bold">

                            <AmountComp amount="@totalSavings" symbol="₦"></AmountComp>

                        </div>
                        </div>
                    </div>

                </div>


                <div class="p-4 bg-white rounded-lg shadow sm:p-6 xl:p-4">
                    <div class="flex flex-row items-center gap-x-3 py-4">

                        @((MarkupString)SvgHelpers.DashboardWallet)

                        <div class="flex flex-col justify-start">
                            <div class="text-gray-500 text-sm">@DepositProductType.SPECIAL_DEPOSIT.ToString().Replace("_", " ")</div>
                            <div class="text-base font-bold">
                            <AmountComp amount="@totalSpecialDeposit" symbol="₦"></AmountComp>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="p-4 bg-white rounded-lg shadow sm:p-6 xl:p-4">
                    <div class="flex flex-row items-center gap-x-3 py-4">

                        @((MarkupString)SvgHelpers.DashboardWallet)

                        <div class="flex flex-col justify-start">
                            <div class="text-gray-500 text-sm">@DepositProductType.FIXED_DEPOSIT.ToString().Replace("_", " ")</div>
                            <div class="text-base font-bold">
                            <AmountComp amount="@totalFixed" symbol="₦"></AmountComp>

                            
                            </div>
                        </div>
                    </div>

                </div>

                <div class="p-4 bg-white rounded-lg shadow sm:p-6 xl:p-4">
                    <div class="flex flex-row items-center gap-x-3 py-4">

                        @((MarkupString)SvgHelpers.DashboardWallet)

                        <div class="flex flex-col justify-start">
                            <div class="text-gray-500 text-sm">Loans</div>
                            <div class="text-base font-bold">
                                
                            <AmountComp amount="@TotalLoans" symbol="₦"></AmountComp>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            
            <div class="grid grid-cols-1 my-4 gap-2  md:grid-cols-2 ">
               
                <div class="flex flex-row justify-between items-center p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-4  xl:mb-0">
                    <div class="mb-4">
                        <h3 class="mb-3 text-lg font-bold text-gray-800 dark:text-white">
                            Approvals
                        </h3>
                        <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
                            Streamline workflows with approvals for efficient decision-making.
                        </p>

                        <a href="/approvals/all">

                            <button class="mt-4 py-2 px-8 w-full text-xs font-medium text-center text-white rounded-lg bg-CEMCS-Blue-100 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                               View details
                            </button>
                        </a>
                    </div>

                    <!-- Card Footer -->

                    <svg width="100" height="100" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="60" cy="60" r="60" fill="#1F82BD" fill-opacity="0.2" />
                        <path d="M53.5251 29.5251C54.1815 28.8687 55.0717 28.5 56 28.5H64C64.9283 28.5 65.8185 28.8687 66.4749 29.5251C67.1313 30.1815 67.5 31.0717 67.5 32C67.5 32.9283 67.1313 33.8185 66.4749 34.4749C65.8185 35.1313 64.9283 35.5 64 35.5H56C55.0717 35.5 54.1815 35.1313 53.5251 34.4749C52.8687 33.8185 52.5 32.9283 52.5 32C52.5 31.0717 52.8687 30.1815 53.5251 29.5251Z"
                              fill="#1F82BD" stroke="#1F82BD" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M36 40C36 37.8783 36.8429 35.8434 38.3431 34.3431C39.8434 32.8429 41.8783 32 44 32C44 35.1826 45.2643 38.2348 47.5147 40.4853C49.7652 42.7357 52.8174 44 56 44H64C67.1826 44 70.2348 42.7357 72.4853 40.4853C74.7357 38.2348 76 35.1826 76 32C78.1217 32 80.1566 32.8429 81.6569 34.3431C83.1571 35.8434 84 37.8783 84 40V84C84 86.1217 83.1571 88.1566 81.6569 89.6569C80.1566 91.1571 78.1217 92 76 92H44C41.8783 92 39.8434 91.1571 38.3431 89.6569C36.8429 88.1566 36 86.1217 36 84V40ZM48 56C46.9391 56 45.9217 56.4214 45.1716 57.1716C44.4214 57.9217 44 58.9391 44 60C44 61.0609 44.4214 62.0783 45.1716 62.8284C45.9217 63.5786 46.9391 64 48 64H48.04C49.1009 64 50.1183 63.5786 50.8684 62.8284C51.6186 62.0783 52.04 61.0609 52.04 60C52.04 58.9391 51.6186 57.9217 50.8684 57.1716C50.1183 56.4214 49.1009 56 48.04 56H48ZM60 56C58.9391 56 57.9217 56.4214 57.1716 57.1716C56.4214 57.9217 56 58.9391 56 60C56 61.0609 56.4214 62.0783 57.1716 62.8284C57.9217 63.5786 58.9391 64 60 64H72C73.0609 64 74.0783 63.5786 74.8284 62.8284C75.5786 62.0783 76 61.0609 76 60C76 58.9391 75.5786 57.9217 74.8284 57.1716C74.0783 56.4214 73.0609 56 72 56H60ZM48 72C46.9391 72 45.9217 72.4214 45.1716 73.1716C44.4214 73.9217 44 74.9391 44 76C44 77.0609 44.4214 78.0783 45.1716 78.8284C45.9217 79.5786 46.9391 80 48 80H48.04C49.1009 80 50.1183 79.5786 50.8684 78.8284C51.6186 78.0783 52.04 77.0609 52.04 76C52.04 74.9391 51.6186 73.9217 50.8684 73.1716C50.1183 72.4214 49.1009 72 48.04 72H48ZM60 72C58.9391 72 57.9217 72.4214 57.1716 73.1716C56.4214 73.9217 56 74.9391 56 76C56 77.0609 56.4214 78.0783 57.1716 78.8284C57.9217 79.5786 58.9391 80 60 80H72C73.0609 80 74.0783 79.5786 74.8284 78.8284C75.5786 78.0783 76 77.0609 76 76C76 74.9391 75.5786 73.9217 74.8284 73.1716C74.0783 72.4214 73.0609 72 72 72H60Z"
                              fill="#1F82BD" />
                    </svg>
                </div>
                
                <div class="flex flex-row justify-between items-center p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-4  xl:mb-0">
                    <div class="mb-4">
                        <h3 class="mb-3 text-lg font-bold text-gray-800 dark:text-white">
                           Manage Members
                        </h3>
                        <p class="text-sm font-normal text-gray-500 dark:text-gray-400">

                            Member management efficiently handle user profiles and access rights.

                        </p>

                        <a href="/security/enrollments">
                            <button class="mt-4 py-2 px-8 w-full text-xs font-medium text-center text-white rounded-lg bg-CEMCS-Blue-100 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                View details
                            </button>
                        </a>
                    </div>

                    <!-- Card Footer -->

                    <svg width="100" height="100" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="60" cy="60" r="60" fill="#1F82BD" fill-opacity="0.2" />
                        <path d="M36 36C33.8783 36 31.8434 36.8429 30.3431 38.3431C28.8429 39.8434 28 41.8783 28 44V48H92V44C92 41.8783 91.1571 39.8434 89.6569 38.3431C88.1566 36.8429 86.1217 36 84 36H36Z"
                              fill="#1F82BD" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M92 56H28V76C28 78.1217 28.8429 80.1566 30.3431 81.6569C31.8434 83.1571 33.8783 84 36 84H84C86.1217 84 88.1566 83.1571 89.6569 81.6569C91.1571 80.1566 92 78.1217 92 76V56ZM36 72C36 70.9391 36.4214 69.9217 37.1716 69.1716C37.9217 68.4214 38.9391 68 40 68H44C45.0609 68 46.0783 68.4214 46.8284 69.1716C47.5786 69.9217 48 70.9391 48 72C48 73.0609 47.5786 74.0783 46.8284 74.8284C46.0783 75.5786 45.0609 76 44 76H40C38.9391 76 37.9217 75.5786 37.1716 74.8284C36.4214 74.0783 36 73.0609 36 72ZM56 68C54.9391 68 53.9217 68.4214 53.1716 69.1716C52.4214 69.9217 52 70.9391 52 72C52 73.0609 52.4214 74.0783 53.1716 74.8284C53.9217 75.5786 54.9391 76 56 76H60C61.0609 76 62.0783 75.5786 62.8284 74.8284C63.5786 74.0783 64 73.0609 64 72C64 70.9391 63.5786 69.9217 62.8284 69.1716C62.0783 68.4214 61.0609 68 60 68H56Z"
                              fill="#1F82BD" />
                    </svg>
                </div>
            </div>

            <div class="p-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                <div class="flex justify-between items-center mb-4">
                    <div>
                        <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
                            Quick links
                        </h3>
                    </div>
                    <div class="flex-shrink-0">
                    </div>
                </div>


                <div class="w-full flex items-center shadow my-3 sm:gap-0 gap-8 bg-white  sm:rounded-lg p-4 flex-wrap justify-between">


                    <div class="flex sm:flex-row flex-col gap-2 justify-center grow-0 shrink-0 sm:basis-1/6 sm:max-w-1/6 basis-2/5  max-w-2/5 ">

                        <a href="/security/enrollments">
                            <div class="flex flex-col items-center justify-center gap-3 text-center">
                                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="28" cy="28" r="28" fill="#DEF7EC" />
                                    <path d="M30.5331 31.8501H24.9331" stroke="#057A55" stroke-width="2" stroke-miterlimit="10"
                                          stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M27.7334 29.1167V34.7167" stroke="#057A55" stroke-width="2" stroke-miterlimit="10"
                                          stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M28.7392 17.3796L28.7056 17.458L25.4576 24.9956H22.2656C21.504 24.9956 20.776 25.1524 20.1152 25.4324L22.0752 20.7508L22.12 20.6388L22.1984 20.4596C22.2208 20.3924 22.2432 20.3252 22.2768 20.2692C23.744 16.8756 25.4016 16.1028 28.7392 17.3796Z"
                                          stroke="#057A55" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M34.7759 25.2194C34.2719 25.0626 33.7343 24.9954 33.1967 24.9954H25.4575L28.7055 17.4578L28.7391 17.3794C28.9071 17.4354 29.0639 17.5138 29.2319 17.581L31.7071 18.6226C33.0847 19.1938 34.0479 19.7874 34.6303 20.5042C34.7423 20.6386 34.8319 20.7618 34.9103 20.9074C35.0111 21.0642 35.0895 21.221 35.1343 21.389C35.1791 21.4898 35.2127 21.5906 35.2351 21.6802C35.5375 22.621 35.3583 23.7746 34.7759 25.2194Z"
                                          stroke="#057A55" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M38.6642 30.4612V32.6452C38.6642 32.8692 38.653 33.0932 38.6418 33.3172C38.429 37.226 36.245 39.1972 32.101 39.1972H23.365C23.0962 39.1972 22.8274 39.1748 22.5698 39.1412C19.0082 38.906 17.1042 37.002 16.869 33.4404C16.8354 33.1828 16.813 32.914 16.813 32.6452V30.4612C16.813 28.21 18.1794 26.2724 20.1282 25.4324C20.8002 25.1524 21.517 24.9956 22.2786 24.9956H33.2098C33.7586 24.9956 34.2962 25.074 34.789 25.2196C37.0178 25.9028 38.6642 27.986 38.6642 30.4612Z"
                                          stroke="#057A55" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M22.0755 20.7505L20.1155 25.4321C18.1667 26.2721 16.8003 28.2097 16.8003 30.4609V27.1793C16.8003 23.9985 19.0627 21.3441 22.0755 20.7505Z"
                                          stroke="#057A55" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M38.6608 27.1791V30.4607C38.6608 27.9967 37.0256 25.9023 34.7856 25.2303C35.368 23.7743 35.536 22.6319 35.256 21.6799C35.2336 21.5791 35.2 21.4783 35.1552 21.3887C37.2384 22.4639 38.6608 24.6703 38.6608 27.1791Z"
                                          stroke="#057A55" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>

                                <p class="font-semibold text-base">Manage Members</p>
                            </div>
                        </a>
                    </div>
                    <div class="flex sm:flex-row flex-col  sm:border-l-2 border-gray-200 gap-2 justify-center grow-0 shrink-0 sm:basis-1/6 sm:max-w-1/6 basis-2/5  max-w-2/5 ">

                        <a href="/schedule/payrollScheduleList/">
                            <div class="flex flex-col items-center justify-center gap-3 text-center">
                                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="28" cy="28" r="28" fill="#FDF6B2" />
                                    <path d="M38.9168 28.1835V23.2135C38.9168 18.5118 37.8202 17.3335 33.4102 17.3335H24.5902C20.1802 17.3335 19.0835 18.5118 19.0835 23.2135V36.3501C19.0835 39.4535 20.7868 40.1885 22.8518 37.9718L22.8635 37.9602C23.8202 36.9452 25.2785 37.0268 26.1068 38.1351L27.2852 39.7102"
                                          stroke="#9F580A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M24.3335 23.1665H33.6668" stroke="#9F580A" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M25.5 27.8335H32.5" stroke="#9F580A" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M36.246 32.232L32.116 36.362C31.9527 36.5253 31.801 36.8287 31.766 37.0503L31.5443 38.6253C31.4627 39.197 31.8594 39.5937 32.431 39.512L34.006 39.2903C34.2277 39.2553 34.5427 39.1037 34.6944 38.9403L38.8244 34.8103C39.536 34.0987 39.8744 33.2703 38.8244 32.2203C37.786 31.182 36.9577 31.5203 36.246 32.232Z"
                                          stroke="#9F580A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M35.6489 32.8271C35.9989 34.0871 36.9789 35.0671 38.2389 35.4171" stroke="#9F580A"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <p class="font-semibold text-base">Schedule Payroll</p>
                            </div>
                        </a>
                    </div>
                    <div class="flex sm:flex-row flex-col sm:border-r-2 sm:border-l-2 border-gray-200 gap-2 justify-center grow-0 shrink-0 sm:basis-1/6 sm:max-w-1/6 basis-2/5  max-w-2/5 ">

                    <a href="/account/depositadmindashboard">
                            <div class="flex flex-col items-center justify-center gap-3 text-center">
                                <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="28.5" cy="28" r="28" fill="#D5F5F6" />
                                    <path d="M17.9165 30.447V28.4287C17.9165 26.0137 19.8882 24.042 22.3032 24.042H35.6965C38.1115 24.042 40.0832 26.0137 40.0832 28.4287V30.1087H37.7265C37.0732 30.1087 36.4782 30.3653 36.0465 30.8086C35.5565 31.287 35.2765 31.9753 35.3465 32.7103C35.4515 33.9703 36.6065 34.892 37.8665 34.892H40.0832V36.2803C40.0832 38.6953 38.1115 40.667 35.6965 40.667H29.3032"
                                          stroke="#047481" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M17.9165 29.4785V24.1469C17.9165 22.7586 18.7682 21.5219 20.0632 21.0319L29.3265 17.5319C30.7732 16.9835 32.3248 18.0569 32.3248 19.6086V24.0419"
                                          stroke="#047481" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M41.3184 31.2983V33.7018C41.3184 34.3434 40.8051 34.8684 40.1518 34.8917H37.8651C36.6051 34.8917 35.4501 33.97 35.3451 32.71C35.2751 31.975 35.5551 31.2867 36.0451 30.8084C36.4768 30.365 37.0718 30.1084 37.7251 30.1084H40.1518C40.8051 30.1317 41.3184 30.6567 41.3184 31.2983Z"
                                          stroke="#047481" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M23.1665 29H31.3332" stroke="#047481" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M18.5 34.25H24.73C25.4767 34.25 26.0833 34.8566 26.0833 35.6033V37.0967" stroke="#047481"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M19.9233 32.8267L18.5 34.25L19.9233 35.6733" stroke="#047481" stroke-width="2"
                                          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M26.0833 40.4101H19.8533C19.1067 40.4101 18.5 39.8034 18.5 39.0568V37.5635" stroke="#047481"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M24.6616 41.8335L26.085 40.4102L24.6616 38.9868" stroke="#047481" stroke-width="2"
                                          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>

                                <p class="font-semibold text-base">Deposit Account</p>
                            </div>
                        </a>

                    </div>
                    <div class="flex sm:flex-row flex-col gap-2 justify-center grow-0 shrink-0 sm:basis-1/6 sm:max-w-1/6 basis-2/5  max-w-2/5 ">

                        <a href="/account/userloanaccounts">
                            <div class="flex flex-col items-center justify-center gap-3 text-center">
                                <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="28.5" cy="28" r="28" fill="#FEECDC" />
                                    <path d="M31.6385 33.6646H25.8052" stroke="#D03801" stroke-width="2" stroke-miterlimit="10"
                                          stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M29.77 17.938L29.735 18.0197L26.3516 25.8713H23.0266C22.2333 25.8713 21.475 26.0347 20.7866 26.3263L22.8283 21.4497L22.875 21.333L22.9566 21.1463C22.98 21.0763 23.0033 21.0063 23.0383 20.948C24.5666 17.413 26.2933 16.608 29.77 17.938Z"
                                          stroke="#D03801" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M36.0582 26.1047C35.5332 25.9413 34.9732 25.8713 34.4132 25.8713H26.3516L29.7349 18.0197L29.7699 17.938C29.9449 17.9963 30.1082 18.078 30.2832 18.148L32.8616 19.233C34.2966 19.828 35.2999 20.4463 35.9066 21.193C36.0232 21.333 36.1166 21.4613 36.1982 21.613C36.3032 21.7763 36.3849 21.9397 36.4316 22.1147C36.4782 22.2197 36.5132 22.3247 36.5366 22.418C36.8516 23.398 36.6649 24.5997 36.0582 26.1047Z"
                                          stroke="#D03801" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M40.1088 31.5649V33.8399C40.1088 34.0732 40.0972 34.3066 40.0855 34.5399C39.8638 38.6116 37.5888 40.6649 33.2722 40.6649H24.1722C23.8922 40.6649 23.6122 40.6416 23.3438 40.6066C19.6338 40.3616 17.6505 38.3783 17.4055 34.6683C17.3705 34.3999 17.3472 34.1199 17.3472 33.8399V31.5649C17.3472 29.2199 18.7705 27.2016 20.8005 26.3266C21.5005 26.0349 22.2472 25.8716 23.0405 25.8716H34.4272C34.9988 25.8716 35.5588 25.9532 36.0722 26.1049C38.3938 26.8166 40.1088 28.9866 40.1088 31.5649Z"
                                          stroke="#D03801" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M22.8285 21.4497L20.7868 26.3264C18.7568 27.2014 17.3335 29.2197 17.3335 31.5647V28.1464C17.3335 24.833 19.6902 22.068 22.8285 21.4497Z"
                                          stroke="#D03801" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M40.105 28.1454V31.5638C40.105 28.9971 38.4017 26.8154 36.0684 26.1154C36.675 24.5988 36.85 23.4088 36.5584 22.4171C36.535 22.3121 36.5 22.2071 36.4534 22.1138C38.6234 23.2338 40.105 25.5321 40.105 28.1454Z"
                                          stroke="#D03801" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <p class="font-semibold text-base">Loan Accounts</p>
                            </div>
                        </a>
                    </div>
                    <div class="flex sm:flex-row flex-col gap-2 justify-center grow-0 shrink-0 sm:basis-1/6 sm:max-w-1/6 basis-2/5  max-w-2/5 ">

                        <a href="/financials/journal">
                            <div class="flex flex-col  justify-center items-center  sm:border-r-2 gap-3 sm:border-l-2 border-gray-200 text-center grow-0 shrink-0 sm:basis-1/6 sm:max-w-1/6 basis-2/5  max-w-2/5">

                                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="28" cy="28" r="28" fill="#E5EDFF" />
                                    <path d="M38.9168 28.1835V23.2135C38.9168 18.5118 37.8202 17.3335 33.4102 17.3335H24.5902C20.1802 17.3335 19.0835 18.5118 19.0835 23.2135V36.3501C19.0835 39.4535 20.7868 40.1885 22.8518 37.9718L22.8635 37.9602C23.8202 36.9452 25.2785 37.0268 26.1068 38.1351L27.2852 39.7102"
                                          stroke="#5850EC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M24.3335 23.1665H33.6668" stroke="#5850EC" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M25.5 27.8335H32.5" stroke="#5850EC" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M36.246 32.232L32.116 36.362C31.9527 36.5253 31.801 36.8287 31.766 37.0503L31.5443 38.6253C31.4627 39.197 31.8594 39.5937 32.431 39.512L34.006 39.2903C34.2277 39.2553 34.5427 39.1037 34.6944 38.9403L38.8244 34.8103C39.536 34.0987 39.8744 33.2703 38.8244 32.2203C37.786 31.182 36.9577 31.5203 36.246 32.232Z"
                                          stroke="#5850EC" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M35.6489 32.8271C35.9989 34.0871 36.9789 35.0671 38.2389 35.4171" stroke="#5850EC"
                                          stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>

                                <p class="font-semibold text-base">Transaction Journals</p>
                            </div>
                        </a>

                    </div>

                    <div class="flex sm:flex-row flex-col gap-2 justify-center grow-0 shrink-0 sm:basis-1/6 sm:max-w-1/6 basis-2/5  max-w-2/5 ">
                    <a href="/approvals/all">
                        <div class="flex flex-col  justify-center items-center text-center gap-3 grow-0 shrink-0 sm:basis-1/6 sm:max-w-1/6 basis-2/5  max-w-2/5">
                            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="28" cy="28" r="28" fill="#FDE8E8" />
                                <path d="M37.5168 24.2397V30.2481C37.5168 33.8414 35.4635 35.3814 32.3835 35.3814H22.1284C21.6034 35.3814 21.1018 35.3348 20.6351 35.2298C20.3434 35.1831 20.0635 35.1015 19.8068 35.0081C18.0568 34.3548 16.9951 32.8381 16.9951 30.2481V24.2397C16.9951 20.6464 19.0484 19.1064 22.1284 19.1064H32.3835C34.9968 19.1064 36.8751 20.2148 37.3768 22.7464C37.4585 23.2131 37.5168 23.6914 37.5168 24.2397Z"
                                      stroke="#D03801" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                      stroke-linejoin="round" />
                                <path d="M41.0179 27.7399V33.7482C41.0179 37.3416 38.9646 38.8815 35.8846 38.8815H25.6296C24.7662 38.8815 23.9846 38.7649 23.3079 38.5083C21.9196 37.9949 20.9746 36.9333 20.6362 35.2299C21.1029 35.3349 21.6046 35.3815 22.1296 35.3815H32.3846C35.4646 35.3815 37.5179 33.8416 37.5179 30.2482V24.2399C37.5179 23.6915 37.4712 23.2016 37.3779 22.7466C39.5946 23.2132 41.0179 24.7765 41.0179 27.7399Z"
                                      stroke="#D03801" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                      stroke-linejoin="round" />
                                <path d="M27.2485 30.3295C28.9495 30.3295 30.3285 28.9505 30.3285 27.2495C30.3285 25.5484 28.9495 24.1694 27.2485 24.1694C25.5474 24.1694 24.1685 25.5484 24.1685 27.2495C24.1685 28.9505 25.5474 30.3295 27.2485 30.3295Z"
                                      stroke="#D03801" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                      stroke-linejoin="round" />
                                <path d="M20.5767 24.6831V29.8165" stroke="#D03801" stroke-width="2" stroke-miterlimit="10"
                                      stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M33.9253 24.6836V29.817" stroke="#D03801" stroke-width="2" stroke-miterlimit="10"
                                      stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            <p class="font-semibold text-base">Approvals</p>
                        </div>
                        </a>
                    </div>
                </div>

            </div>


        <div class="grid grid-cols-1 gap-2 mt-4 w-full md:grid-cols-2 ">

            <!-- Product Section -->
            <div class="mb-4 p-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                <!-- Card Title -->
                <div class="flex justify-between items-center mb-4">
                    <div>
                        <h3 class=" text-xl font-bold text-gray-900 dark:text-white">
                            Loan Products
                        </h3>

                    </div>
                    <div class="flex-shrink-0">
                        <NavLink href="/LoanProductSetup/Manage/all"
                           class="p-2 text-sm font-medium rounded-lg text-primary-700 hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                            See all
                        </NavLink><svg class="inline ml-1" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 4.1665L13.3333 9.99984L7.5 15.8332" stroke="#1F82BD" stroke-width="2"
                                  stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>

                <div class=" pt-6">

                    <div class="flex items-center justify-between pb-3 border-b border-b-2">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                        Executive loan account
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    Total Applicants:  <TotalRows Total="totalLoanApplicantExecutiveLoan"></TotalRows>
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@executiveLoans" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between py-3 border-b border-b-2">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                        Target Loan
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    Total Members:  <TotalRows Total="totalTargetLoanCustomers"></TotalRows>
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@targetLoanAmount" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between py-3 border-b border-b-2">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                        Long-term Loan
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    Total Member(s):  <TotalRows Total="totalLongTermLoans"></TotalRows>
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@longTermLoansAmount" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between py-3 ">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                        Short-term Loan
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    Total Member(s):  <TotalRows Total="totalShortTermLoans"></TotalRows>
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@shortTermLoanAmount" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>

                    <div class="flex items-center justify-between py-3 ">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                        Car Loan
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    Total Member(s):  <TotalRows Total="totalCarLoan"></TotalRows>
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@carLoanAmount" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>

                    <div class="flex items-center justify-between py-3 ">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                        Home Appliance Loan
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    Total Member(s):  <TotalRows Total="TotalhomeAppliance"></TotalRows>
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@homeAppliancesAmount" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Product Section -->
            <div class="mb-4 p-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                <!-- Card Title -->
                <div class="flex justify-between items-center mb-4">
                    <div>
                        <h3 class=" text-xl font-bold text-gray-900 dark:text-white">
                            Deposit Products
                        </h3>

                    </div>
                    <div class="flex-shrink-0">
                        <a href="/ProductSetup/Manage/all"
                           class="p-2 text-sm font-medium rounded-lg text-primary-700 hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700">
                            See
                            all
                        </a><svg class="inline ml-1" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 4.1665L13.3333 9.99984L7.5 15.8332" stroke="#1F82BD" stroke-width="2"
                                  stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </div>
                </div>

                <div class=" pt-6">

                    <div class="flex items-center justify-between pb-3 border-b border-b-2">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                       Total Accounts
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    <TotalRows Total="totalDepositAccounts"></TotalRows>
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@totalDepositAmounts" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between py-3 border-b border-b-2">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                       Total Withdrawals
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                  @firstDayofMonth.ToString("dd MMM yyyy") - @DateTime.UtcNow.ToString("dd MMM yyyy")
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@totalDepositWithdrawal" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between py-3 border-b border-b-2">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                        Cash Addition for Savings & Special Deposit Accounts
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    @firstDayofMonth.ToString("dd MMM yyyy") - @DateTime.UtcNow.ToString("dd MMM yyyy")
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@totalcashAdditionForSavingsAndSpecialDeposit" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between py-3 ">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                        Special Deposit Fund Transfer
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    @firstDayofMonth.ToString("dd MMM yyyy") - @DateTime.UtcNow.ToString("dd MMM yyyy")
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@totalcashAdditionForSavingsAndSpecialDeposit" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>


                    <div class="flex items-center justify-between py-3 ">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                         Fund Transfer
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    @firstDayofMonth.ToString("dd MMM yyyy") - @DateTime.UtcNow.ToString("dd MMM yyyy")
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@specialDepositFundTransfer" symbol="₦"></AmountComp>
                                
                            </a>
                        </div>
                    </div>

                    <div class="flex items-center justify-between py-3 ">
                        <div class="flex items-start gap-2 justify-center ">

                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6464 9.14645C14.7402 9.05268 14.8674 9 15 9H17C17.1326 9 17.2598 9.05268 17.3536 9.14645C17.4473 9.24021 17.5 9.36739 17.5 9.5C17.5 9.63261 17.4473 9.75979 17.3536 9.85355C17.2598 9.94732 17.1326 10 17 10H15C14.8674 10 14.7402 9.94732 14.6464 9.85355C14.5527 9.75979 14.5 9.63261 14.5 9.5C14.5 9.36739 14.5527 9.24021 14.6464 9.14645Z"
                                      fill="#1F82BD" stroke="#1F82BD" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10 11.5C10 10.9696 10.2107 10.4609 10.5858 10.0858C10.9609 9.71071 11.4696 9.5 12 9.5C12 10.2956 12.3161 11.0587 12.8787 11.6213C13.4413 12.1839 14.2044 12.5 15 12.5H17C17.7956 12.5 18.5587 12.1839 19.1213 11.6213C19.6839 11.0587 20 10.2956 20 9.5C20.5304 9.5 21.0391 9.71071 21.4142 10.0858C21.7893 10.4609 22 10.9696 22 11.5V22.5C22 23.0304 21.7893 23.5391 21.4142 23.9142C21.0391 24.2893 20.5304 24.5 20 24.5H12C11.4696 24.5 10.9609 24.2893 10.5858 23.9142C10.2107 23.5391 10 23.0304 10 22.5V11.5ZM13 15.5C12.7348 15.5 12.4804 15.6054 12.2929 15.7929C12.1054 15.9804 12 16.2348 12 16.5C12 16.7652 12.1054 17.0196 12.2929 17.2071C12.4804 17.3946 12.7348 17.5 13 17.5H13.01C13.2752 17.5 13.5296 17.3946 13.7171 17.2071C13.9046 17.0196 14.01 16.7652 14.01 16.5C14.01 16.2348 13.9046 15.9804 13.7171 15.7929C13.5296 15.6054 13.2752 15.5 13.01 15.5H13ZM16 15.5C15.7348 15.5 15.4804 15.6054 15.2929 15.7929C15.1054 15.9804 15 16.2348 15 16.5C15 16.7652 15.1054 17.0196 15.2929 17.2071C15.4804 17.3946 15.7348 17.5 16 17.5H19C19.2652 17.5 19.5196 17.3946 19.7071 17.2071C19.8946 17.0196 20 16.7652 20 16.5C20 16.2348 19.8946 15.9804 19.7071 15.7929C19.5196 15.6054 19.2652 15.5 19 15.5H16ZM13 19.5C12.7348 19.5 12.4804 19.6054 12.2929 19.7929C12.1054 19.9804 12 20.2348 12 20.5C12 20.7652 12.1054 21.0196 12.2929 21.2071C12.4804 21.3946 12.7348 21.5 13 21.5H13.01C13.2752 21.5 13.5296 21.3946 13.7171 21.2071C13.9046 21.0196 14.01 20.7652 14.01 20.5C14.01 20.2348 13.9046 19.9804 13.7171 19.7929C13.5296 19.6054 13.2752 19.5 13.01 19.5H13ZM16 19.5C15.7348 19.5 15.4804 19.6054 15.2929 19.7929C15.1054 19.9804 15 20.2348 15 20.5C15 20.7652 15.1054 21.0196 15.2929 21.2071C15.4804 21.3946 15.7348 21.5 16 21.5H19C19.2652 21.5 19.5196 21.3946 19.7071 21.2071C19.8946 21.0196 20 20.7652 20 20.5C20 20.2348 19.8946 19.9804 19.7071 19.7929C19.5196 19.6054 19.2652 19.5 19 19.5H16Z"
                                      fill="#1F82BD" />
                                <circle cx="16" cy="16.5" r="16" fill="#1F82BD" fill-opacity="0.2" />
                            </svg>

                            <div class="flex flex-col items-start justify-center">
                                <a>
                                    <h5 class=" text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                       Fixed Deposit Liquidation
                                    </h5>
                                </a>
                                <p class=" font-normal text-sm leading-6 text-gray-500 dark:text-gray-400">
                                    @firstDayofMonth.ToString("dd MMM yyyy") - @DateTime.UtcNow.ToString("dd MMM yyyy")
                                </p>
                            </div>

                        </div>
                        <div>
                            <a class="inline-flex items-center text-black hover:underline font-semibold">
                                <AmountComp amount="@fixedDepositLiquidation" symbol="₦"></AmountComp>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>


@*
            <div class="p-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
                <!-- Card Title -->
                <div class="flex justify-between items-center mb-4">
                    <div>
                        <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
                            Request
                        </h3>
                        <span class="text-base font-normal text-gray-500 dark:text-gray-400">
                            All Current Request from loan and Deposit products
                        </span>
                    </div>
                    <div class="flex-shrink-0">
                    </div>
                </div>
                <!-- Table -->
                <div class="flex flex-col mt-8">
                    <div class="overflow-x-auto rounded-lg">
                        <div class="inline-block min-w-full align-middle">
                            <div class="overflow-hidden shadow sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
                                    <thead class="bg-gray-50 dark:bg-gray-700">
                                        <tr>
                                            <th scope="col"
                                                class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                                                Description
                                            </th>
                                            <th scope="col"
                                                class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                                                Date
                                            </th>
                                            <th scope="col"
                                                class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                                                Amount
                                            </th>
                                            <th scope="col"
                                                class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                                                Status
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody class="bg-white dark:bg-gray-800">

                                        @foreach (var item in _LoanAndDepositRequestMasterView.OrderByDescending(x => x.DateCreated).Take(10))
                                        {
                                            <tr>
                                                <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                                                    @item.Description
                                                    <span class="font-semibold">@item.IsLoanOrProduct</span>
                                                </td>
                                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                    @item.DateCreated
                                                </td>
                                                <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-white">
                                                    @item.Amount.ToString("N0")
                                                </td>
                                                <td class="p-4 whitespace-nowrap">
                                                    <span class="bg-green-100 dark:bg-green-200 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md">
                                                        <ApprovalStatusComp approvalName="@item.Status"></ApprovalStatusComp>
                                                    </span>
                                                </td>

                                            </tr>
                                        }


                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
*@


        </div>
 

</main>
