@using AP.ChevronCoop.Entities.MasterData.Locations;
@using AP.ChevronCoop.AppDomain.MasterData.Country;
@using Syncfusion.Blazor;
@using CountryData;


<EditForm Model="@Model" OnValidSubmit="OnSave">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <ValidationSummary />
    <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-bold dark:text-white">
            Biodata
        </h3>

        <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
                <label for="first-name"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    First Name<span class="text-red-500">*</span>
                </label>
                <SfTextBox ID="FirstName" Placeholder="enter first name" CssClass="@Tailwind.Textbox_Biodata"
                @bind-Value=@Model.FirstName>
                </SfTextBox>
                <ValidationMessage For="() => Model.FirstName" class="mt-2 text-sm text-red-600 dark:text-red-500" />

            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="last-name"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Last Name<span class="text-red-500">*</span>
                </label>
                <SfTextBox ID="LastName" Placeholder="enter last name" CssClass="@Tailwind.Textbox_Biodata"
                @bind-Value=@Model.LastName>
                </SfTextBox>
                <ValidationMessage For="() => Model.LastName" class="mt-2 text-sm text-red-600 dark:text-red-500" />

            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="country"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Date of birth
                </label>
                <div class="relative max-w-sm">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true"
                             class="w-5 h-5 text-gray-500 dark:text-gray-400"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                  clip-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                    <SfDatePicker TValue="DateTimeOffset?" Max="@DateTime.UtcNow.AddYears(-18)" @bind-Value=@Model.DOB Placeholder='Select Date' CssClass="@Tailwind.DateTimePicker_1"></SfDatePicker>

                </div>
            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="countries"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Gender<span class="text-red-500">*</span>
                </label>

                @{
                    var genderTypes = Enum.GetNames(typeof(Gender)).ToList();
                    Dictionary<string, string> displayNameMapping = new Dictionary<string, string>()
                {
                { "UNKNOWN", "Select gender" }
                };

                    for (int i = 0; i < genderTypes.Count; i++)
                    {
                        string enumName = genderTypes[i];

                        if (displayNameMapping.ContainsKey(enumName))
                        {
                            genderTypes[i] = displayNameMapping[enumName];
                        }
                    }

                }

                <SfDropDownList id="Gender" DataSource=@genderTypes TValue="string" TItem="string" CssClass="@Tailwind.DropDownList_blue"
                @bind-Value=@Model.Gender
                                ShowClearButton=false AllowFiltering=false IgnoreAccent=false Placeholder="Select Gender">
                </SfDropDownList>
                <ValidationMessage For="() => Model.Gender" class="mt-2 text-sm text-red-600 dark:text-red-500" />
            </div>

            <div class="col-span-6 sm:col-span-3">
                <label for="countries"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Country<span class="text-red-500">*</span>
                </label>

                <SfDropDownList TValue="string" CssClass="@Tailwind.DropDownList_primary" Readonly="true" Placeholder="Select Country" TItem="LocationMasterView" @bind-Value=@Model.Country DataSource="@Countries">
                    <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                    <DropDownListEvents TValue="string" TItem="LocationMasterView" ValueChange="ChangeLocation"></DropDownListEvents>
                </SfDropDownList>
                <ValidationMessage For="() => Model.Country" class="mt-2 text-sm text-red-600 dark:text-red-500" />

            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="countries"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    State Of Origin
                </label>
                <SfDropDownList TValue="string" CssClass="@Tailwind.DropdownList" Placeholder="Select State" TItem="LocationMasterView" @bind-Value=@Model.StateOfOrigin DataSource="@States">
                    <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                </SfDropDownList>
                <ValidationMessage For="() => Model.StateOfOrigin" class="@Tailwind.Validation_Red" />
            </div>

            <div class="col-span-6 sm:col-span-3">
                <label for="address"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Email address<span class="text-red-500">*</span>
                </label>
                <SfTextBox ID="PrimaryEmail" Placeholder="Ex. Smith" CssClass="@Tailwind.TextBoxPrimaryEmail"
                @bind-Value=@Model.PrimaryEmail Readonly="true">
                </SfTextBox>
                <ValidationMessage For="() => Model.PrimaryEmail" class="@Tailwind.Validation_Red" />

            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="email"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Secondary Email
                </label>
                <SfTextBox ID="secondaryEmail" Placeholder="example@work.com" CssClass="@Tailwind.TextBox_General"
                @bind-Value=@Model.SecondaryEmail>
                </SfTextBox>
                <ValidationMessage For="() => Model.SecondaryEmail" class="mt-2 text-sm text-red-600 dark:text-red-500" />
            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="work-address"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Work Address
                </label>
                <SfTextBox ID="OfficeAddress" Placeholder="Address" CssClass="@Tailwind.TextBox_General"
                @bind-Value=@Model.OfficeAddress>
                </SfTextBox>
                <ValidationMessage For="() => Model.OfficeAddress" class="@Tailwind.Validation_Red" />

            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="residential-address"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Residential Address
                </label>
                <SfTextBox ID="ResidentialAddress" Placeholder="Address" CssClass="@Tailwind.TextBox_General"
                @bind-Value=@Model.ResidentialAddress>
                </SfTextBox>
                <ValidationMessage For="() => Model.ResidentialAddress" class="mt-2 text-sm text-red-600 dark:text-red-500" />

            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="phonenmber1"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Phone number<span class="text-red-500">*</span>
                </label>
                @*  <IntPhoneNumberInput @bind-Value=@Model.PrimaryPhone/>*@

                <div class="flex">

                    @* <SfDropDownList TValue="string" TItem="ICountryInfo" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" Placeholder="NG" DataSource="@AllCountriesPhoneCode">
                    <DropDownListFieldSettings Value="PhonePrefix" Text="Name"></DropDownListFieldSettings>
                    </SfDropDownList>*@

                    <button id="dropdown-button-1"
                            data-dropdown-toggle="dropdown-search-city"
                            class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                            type="button">
                        <svg class="mr-2" width="14" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 2C0 0.89543 0.89543 0 2 0H6.66667V14H2C0.895429 14 0 13.1046 0 12V2Z" fill="#009D6E" />
                            <rect x="6.6665" width="6.66667" height="14" fill="white" />
                            <path d="M13.3335 0H18.0002C19.1047 0 20.0002 0.895431 20.0002 2V12C20.0002 13.1046 19.1047 14 18.0002 14H13.3335V0Z" fill="#009D6E" />
                        </svg>
                        NG +234
                        <svg aria-hidden="true"
                             class="w-4 h-4 ml-1"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd">
                            </path>
                        </svg>
                    </button>
                    <div id="dropdown-search-city"
                         class="z-10 @Dropdownstatus bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdown-button-2">
                            <li>
                                <button type="button"
                                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">
                                    <div class="inline-flex items-center">
                                        <svg aria-hidden="true"
                                             class="h-3.5 w-3.5 rounded-full mr-2"
                                             xmlns="http://www.w3.org/2000/svg"
                                             id="flag-icon-css-us"
                                             viewBox="0 0 512 512">
                                            <g fill-rule="evenodd">
                                                <g stroke-width="1pt">
                                                    <path fill="#bd3d44"
                                                          d="M0 0h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z"
                                                          transform="scale(3.9385)" />
                                                    <path fill="#fff"
                                                          d="M0 10h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z"
                                                          transform="scale(3.9385)" />
                                                </g>
                                                <path fill="#192f5d"
                                                      d="M0 0h98.8v70H0z"
                                                      transform="scale(3.9385)" />
                                                <path fill="#fff"
                                                      d="M8.2 3l1 2.8H12L9.7 7.5l.9 2.7-2.4-1.7L6 10.2l.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7L74 8.5l-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 7.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 24.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 21.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 38.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 35.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 52.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 49.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 66.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 63.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9z"
                                                      transform="scale(3.9385)" />
                                            </g>
                                        </svg>
                                        United States
                                    </div>
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">
                                    <div class="inline-flex items-center">
                                        <svg aria-hidden="true"
                                             class="h-3.5 w-3.5 rounded-full mr-2"
                                             xmlns="http://www.w3.org/2000/svg"
                                             id="flag-icon-css-de"
                                             viewBox="0 0 512 512">
                                            <path fill="#ffce00"
                                                  d="M0 341.3h512V512H0z" />
                                            <path d="M0 0h512v170.7H0z" />
                                            <path fill="#d00"
                                                  d="M0 170.7h512v170.6H0z" />
                                        </svg>
                                        Germany
                                    </div>
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">
                                    <div class="inline-flex items-center">
                                        <svg aria-hidden="true"
                                             class="h-3.5 w-3.5 rounded-full mr-2"
                                             xmlns="http://www.w3.org/2000/svg"
                                             id="flag-icon-css-it"
                                             viewBox="0 0 512 512">
                                            <g fill-rule="evenodd" stroke-width="1pt">
                                                <path fill="#fff" d="M0 0h512v512H0z" />
                                                <path fill="#009246"
                                                      d="M0 0h170.7v512H0z" />
                                                <path fill="#ce2b37"
                                                      d="M341.3 0H512v512H341.3z" />
                                            </g>
                                        </svg>
                                        Italy
                                    </div>
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">
                                    <div class="inline-flex items-center">
                                        <svg aria-hidden="true"
                                             class="h-3.5 w-3.5 rounded-full mr-2"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             id="flag-icon-css-cn"
                                             viewBox="0 0 512 512">
                                            <defs>
                                                <path id="a"
                                                      fill="#ffde00"
                                                      d="M1-.3L-.7.8 0-1 .6.8-1-.3z" />
                                            </defs>
                                            <path fill="#de2910"
                                                  d="M0 0h512v512H0z" />
                                            <use width="30"
                                                 height="20"
                                                 transform="matrix(76.8 0 0 76.8 128 128)"
                                                 xlink:href="#a" />
                                            <use width="30"
                                                 height="20"
                                                 transform="rotate(-121 142.6 -47) scale(25.5827)"
                                                 xlink:href="#a" />
                                            <use width="30"
                                                 height="20"
                                                 transform="rotate(-98.1 198 -82) scale(25.6)"
                                                 xlink:href="#a" />
                                            <use width="30"
                                                 height="20"
                                                 transform="rotate(-74 272.4 -114) scale(25.6137)"
                                                 xlink:href="#a" />
                                            <use width="30"
                                                 height="20"
                                                 transform="matrix(16 -19.968 19.968 16 256 230.4)"
                                                 xlink:href="#a" />
                                        </svg>
                                        China
                                    </div>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="relative w-full">
                        <SfTextBox Placeholder="800-XXX-XXXX" max="10" @bind-Value="Model.PrimaryPhone" inputmode="numeric" CssClass="@Tailwind.TextBox_General"></SfTextBox>
                        <ValidationMessage For="() => Model.PrimaryPhone" class="mt-2 text-sm text-red-600 dark:text-red-500" />

                    </div>
                </div>


            </div>

            <div class="col-span-6 sm:col-span-3">
                <label for="phonenmber1"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Phone number 2
                </label>
                @*<IntPhoneNumberInput @bind-Value="IntTelNumber"/>*@
                <div class="flex">
                    <button id="dropdown-button-2"
                            data-dropdown-toggle="dropdown-search-city"
                            class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                            type="button">
                        <svg class="mr-2" width="14" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 2C0 0.89543 0.89543 0 2 0H6.66667V14H2C0.895429 14 0 13.1046 0 12V2Z" fill="#009D6E" />
                            <rect x="6.6665" width="6.66667" height="14" fill="white" />
                            <path d="M13.3335 0H18.0002C19.1047 0 20.0002 0.895431 20.0002 2V12C20.0002 13.1046 19.1047 14 18.0002 14H13.3335V0Z" fill="#009D6E" />
                        </svg>
                        NG +234

                    </button>
                    <div id="dropdown-search-city"
                         class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdown-button-2">
                            <li>
                                <button type="button"
                                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">
                                    <div class="inline-flex items-center">
                                        <svg aria-hidden="true"
                                             class="h-3.5 w-3.5 rounded-full mr-2"
                                             xmlns="http://www.w3.org/2000/svg"
                                             id="flag-icon-css-us"
                                             viewBox="0 0 512 512">
                                            <g fill-rule="evenodd">
                                                <g stroke-width="1pt">
                                                    <path fill="#bd3d44"
                                                          d="M0 0h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z"
                                                          transform="scale(3.9385)" />
                                                    <path fill="#fff"
                                                          d="M0 10h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z"
                                                          transform="scale(3.9385)" />
                                                </g>
                                                <path fill="#192f5d"
                                                      d="M0 0h98.8v70H0z"
                                                      transform="scale(3.9385)" />
                                                <path fill="#fff"
                                                      d="M8.2 3l1 2.8H12L9.7 7.5l.9 2.7-2.4-1.7L6 10.2l.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7L74 8.5l-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 7.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 24.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 21.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 38.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 35.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 52.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 49.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm-74.1 7l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7H65zm16.4 0l1 2.8H86l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm-74 7l.8 2.8h3l-2.4 1.7.9 2.7-2.4-1.7L6 66.2l.9-2.7-2.4-1.7h3zm16.4 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.4 0l1 2.8h2.8l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.3 1.7.9 2.7-2.4-1.7-2.3 1.7.9-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8h2.9L92 63.5l1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9z"
                                                      transform="scale(3.9385)" />
                                            </g>
                                        </svg>
                                        United States
                                    </div>
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">
                                    <div class="inline-flex items-center">
                                        <svg aria-hidden="true"
                                             class="h-3.5 w-3.5 rounded-full mr-2"
                                             xmlns="http://www.w3.org/2000/svg"
                                             id="flag-icon-css-de"
                                             viewBox="0 0 512 512">
                                            <path fill="#ffce00"
                                                  d="M0 341.3h512V512H0z" />
                                            <path d="M0 0h512v170.7H0z" />
                                            <path fill="#d00"
                                                  d="M0 170.7h512v170.6H0z" />
                                        </svg>
                                        Germany
                                    </div>
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">
                                    <div class="inline-flex items-center">
                                        <svg aria-hidden="true"
                                             class="h-3.5 w-3.5 rounded-full mr-2"
                                             xmlns="http://www.w3.org/2000/svg"
                                             id="flag-icon-css-it"
                                             viewBox="0 0 512 512">
                                            <g fill-rule="evenodd" stroke-width="1pt">
                                                <path fill="#fff" d="M0 0h512v512H0z" />
                                                <path fill="#009246"
                                                      d="M0 0h170.7v512H0z" />
                                                <path fill="#ce2b37"
                                                      d="M341.3 0H512v512H341.3z" />
                                            </g>
                                        </svg>
                                        Italy
                                    </div>
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">
                                    <div class="inline-flex items-center">
                                        <svg aria-hidden="true"
                                             class="h-3.5 w-3.5 rounded-full mr-2"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             id="flag-icon-css-cn"
                                             viewBox="0 0 512 512">
                                            <defs>
                                                <path id="a"
                                                      fill="#ffde00"
                                                      d="M1-.3L-.7.8 0-1 .6.8-1-.3z" />
                                            </defs>
                                            <path fill="#de2910"
                                                  d="M0 0h512v512H0z" />
                                            <use width="30"
                                                 height="20"
                                                 transform="matrix(76.8 0 0 76.8 128 128)"
                                                 xlink:href="#a" />
                                            <use width="30"
                                                 height="20"
                                                 transform="rotate(-121 142.6 -47) scale(25.5827)"
                                                 xlink:href="#a" />
                                            <use width="30"
                                                 height="20"
                                                 transform="rotate(-98.1 198 -82) scale(25.6)"
                                                 xlink:href="#a" />
                                            <use width="30"
                                                 height="20"
                                                 transform="rotate(-74 272.4 -114) scale(25.6137)"
                                                 xlink:href="#a" />
                                            <use width="30"
                                                 height="20"
                                                 transform="matrix(16 -19.968 19.968 16 256 230.4)"
                                                 xlink:href="#a" />
                                        </svg>
                                        China
                                    </div>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="relative w-full">
                      
                        <SfTextBox Placeholder="800-XXX-XXXX" max="10" @bind-Value="Model.SecondaryPhone" CssClass="@Tailwind.TextBox_General"></SfTextBox>

                        <ValidationMessage For="() => Model.SecondaryPhone" class="@Tailwind.Validation_Red" />
                    </div>
                    
                </div>
            </div>

            <div class="col-span-6 sm:col-full">
                <button class="@Tailwind.Button_Blue"
                        type="submit">
                    Save & Continue
                </button>
            </div>

        </div>


    </div>

</EditForm>

@code {

}