@using AP.ChevronCoop.AppDomain.Payroll.PayrollDeductionSchedule;
@using AP.ChevronCoop.AppDomain.Payroll.PayrollDeductionSchedules;
<EditForm Model="@Model">
	<FluentValidationValidator />


	<ValidationSummary />

	<div class="grid gap-4 sm:grid-cols-2 sm:gap-6">


		<div class="sm:col-span-2">
			<label for="ScheduleName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				Schedule Name
			</label>
			<SfTextBox ID="ScheduleName" Placeholder="ScheduleName" CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
					   @bind-Value=@Model.ScheduleName OnBlur="OnBlur"></SfTextBox>
		</div>

		<div class="sm:col-span-2">
			<label for="PayrollScheduleType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				 Schedule Type
			</label>

			@{
				var GetScheduleTypesSrc = Enum.GetNames(typeof(PayrollScheduleType)).ToList();
			}

			<SfComboBox id="ScheduleType" DataSource=@GetScheduleTypesSrc TValue="string" TItem="string" OnBlur="OnBlur" CssClass="@Tailwind.ComboBox_General"
						@bind-Value=@Model.ScheduleType ShowClearButton="true" AllowFiltering=true IgnoreAccent=true Placeholder="Select type">
			</SfComboBox>
		</div>



		<div class="sm:col-span-2">
			<label for="BankAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				Select Bank Account for Payroll Deductions
			</label>

		 
			<SfComboBox DataSource=@GetCompanyBankAccountMasterViews CssClass="@Tailwind.ComboBox_General" TValue="string" TItem="CompanyBankAccountMasterView" OnBlur="OnBlur"
						@bind-Value=@Model.BankAccountId 
						ShowClearButton="true" AllowFiltering=true IgnoreAccent=true > 
				<ComboBoxFieldSettings Text="Details" Value="Id"></ComboBoxFieldSettings>
			</SfComboBox>

		</div>

		<div class="sm:col-span-2">
			<label for="SpecialDepositBankAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				Select Bank for Special Deposit Interest
			</label>

			<SfComboBox DataSource=@GetCompanyBankAccountMasterViews CssClass="@Tailwind.ComboBox_General" TValue="string" TItem="CompanyBankAccountMasterView" OnBlur="OnBlur"
						@bind-Value=@Model.SpecialDepositBankAccountId
						FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
						ShowClearButton="true" AllowFiltering=true IgnoreAccent=true>
				<ComboBoxFieldSettings Text="Details" Value="Id"></ComboBoxFieldSettings>
			</SfComboBox>
		</div>

		<div class="sm:col-span-2">
			<label for="FixedDepositBankAccountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				Select Bank for Fixed Deposit Interest
			</label>


			<SfComboBox DataSource=@GetCompanyBankAccountMasterViews CssClass="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" TValue="string" TItem="CompanyBankAccountMasterView" OnBlur="OnBlur"
						@bind-Value=@Model.FixedDepositBankAccountId Query="@Query_Combo"
						FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
						ShowClearButton="true" AllowFiltering=true IgnoreAccent=true Placeholder="Select">
				<ComboBoxFieldSettings Text="Details" Value="Id"></ComboBoxFieldSettings>
			</SfComboBox>

		</div>



		<div class="w-full">
			<label for="MinDecimalPlace" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				Mininimum Decimal Place
			</label>

			<SfNumericTextBox ID="MinDecimalPlace" TValue="int" @bind-Value="@Model.MinDecimalPlace" CssClass="@Tailwind.TextBox_General"></SfNumericTextBox>
		</div>


		<div class="w-full">
			<label for="MaxDecimalPlace" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				Maximum Decimal Place
			</label>

			<SfNumericTextBox ID="MaxDecimalPlace" TValue="int" @bind-Value="@Model.MaxDecimalPlace" CssClass="@Tailwind.TextBox_General"></SfNumericTextBox>
		</div>


		<div class="w-full">
			<label for="AdviseDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				Advise Date
			</label>


			<div class="relative max-w-sm">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<svg aria-hidden="true"
						 class="w-5 h-5 text-gray-500 dark:text-gray-400"
						 fill="currentColor"
						 viewBox="0 0 20 20"
						 xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							  d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
							  clip-rule="evenodd">
						</path>
					</svg>
				</div>
				<SfDatePicker TValue="DateTime" @bind-Value=@Model.AdviseDate Placeholder='Select Date' CssClass="@Tailwind.DateTimePicker_1"></SfDatePicker>

			</div>
		</div>


		<div class="w-full">
			<label for="ExpectedDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				Expected Date
			</label>

			<div class="relative max-w-sm">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<svg aria-hidden="true"
						 class="w-5 h-5 text-gray-500 dark:text-gray-400"
						 fill="currentColor"
						 viewBox="0 0 20 20"
						 xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							  d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
							  clip-rule="evenodd">
						</path>
					</svg>
				</div>
				<SfDatePicker TValue="DateTime" @bind-Value=@Model.ExpectedDate Placeholder='Select Date' CssClass="@Tailwind.DateTimePicker_1"></SfDatePicker>

			</div>
		</div>



		<div class="w-full">
			<label for="country"
				   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
				Payroll Date
			</label>
			<div class="relative max-w-sm">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<svg aria-hidden="true"
						 class="w-5 h-5 text-gray-500 dark:text-gray-400"
						 fill="currentColor"
						 viewBox="0 0 20 20"
						 xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							  d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
							  clip-rule="evenodd">
						</path>
					</svg>
				</div>
				<SfDatePicker TValue="DateTime" @bind-Value=@Model.PayrollDate Placeholder='Select Date' CssClass="@Tailwind.DateTimePicker_1"></SfDatePicker>

			</div>
		</div>




	</div>
	<br />

	<button type="button" @onclick="OnSave"
   class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
		Save &amp; Close
	</button>

	<button type="button" @onclick="OnCancel"
   class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
		Cancel
	</button>

</EditForm>
